/*------------------------------------*\
    Headsup
\*------------------------------------*/

/**
 * TABLE OF CONTENTS
 *
 * 01. Imports............Imported files, like partials, variables, Compass etc.
 * 02. Tags...............Like <body>, <h1> etc.
 * 03. Helpers............The general styles like .push-down-15 etc.
 */

/*------------------------------------*\
    Imports
\*------------------------------------*/

/**
 * Project variables
 */

@import "vars";
@import "bootstrap-sass/assets/stylesheets/bootstrap";
@import "components/base";

/*------------------------------------*\
    Components
\*------------------------------------*/

// General parts
@import "components/navigation";
@import "components/top-search-and-social";
@import "components/sidebar";
@import "components/widgets";
@import "components/footer";

// Elements
@import "components/buttons";

// Advanced elements
@import "components/meta";
@import "components/read-more";
@import "components/social-icons";
@import "components/tags";
@import "components/post-content";
@import "components/post-comments";
@import "components/post-author";
@import "components/related-stories";
@import "components/slider";

// Pages
@import "components/contact";

// jQuery plugin
@import "components/jquery-smartvimeoembed";

// Import Custom css styles
@import "custom";

/*------------------------------------*\
    The end :)
\*------------------------------------*/
