// Search and Social in header

.btn_container,
.custom_menu__container {
	display: block;
	height: 70px;
	width: 65px;
	text-align: center;
	line-height: 70px;
	float: right;
	border-left: 1px solid #dcdddd;
	color: $primary-color;

	&:hover,
	&.active {
		transition: $primary-transition;
		color: $primary-color;
		background-color: $body-bg;
	}

	&:first-child {
		border-right: 1px solid #dcdddd;
	}

	.glyphicon {
		font-size: 1.3em;
		vertical-align: middle;
		margin-top: -1px; 
	}
}

.custom_menu {
	position: relative;
	float: right;

	&:hover {
		.custom_menu__dropdown {
			transition: $primary-transition;
			opacity: 1;
			visibility: visible;
		}
	}

	.custom_menu__container {
		border-right: none;
	}

	.custom_menu__dropdown {
		position: absolute;
		opacity: 0;
		visibility: hidden;
		background: #fff;
		z-index: 20;
		list-style: none;
		padding: 0;
		left: 0;
		top: 70px;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		border-left: 1px solid #dcdddd;
		border-right: 1px solid #dcdddd;
		border-bottom: 1px solid #dcdddd;

		li {
			a {
				border: none;
				border-top: 1px solid #dcdddd;
				color: $primary-color;
				font-size: 1.3em;

				&:hover {
					color: darken($primary-color, 10);
					background-color: ligthen(#dcdddd, 10);
				}
			}		
		}
	}
}

