// Meta

.meta {
	position: relative;
	margin-bottom: 0;
	@media (min-width: $screen-sm-min) {
		margin-bottom: 0;
	}
}

.meta--full-width {
	margin-top: -45px;

	.wp-post-image {
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}
}

.meta__container,
.meta__container--without-image {
	font-family: $secondary-font;
	font-weight: 700;
	font-size: 14px;
	color: #999;
	padding: 0px 25px;
	text-align: center;
	@media (min-width: $screen-sm-min) {
		position: absolute;
		bottom: 0;
		height: 110px;
		width: 100%;
		background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%,rgba(0, 0, 0, 0.6) 100%);
		color: #e4e4e4;
		padding: 65px 30px 0 20px;
		line-height: 30px;
		text-align: left;
	}

	a {
		color: #999;
		border: none;
		@media (min-width: $screen-sm-min) {
			color: #e4e4e4;
		}
	}

	.custom-link {
		text-decoration: none;
		&:hover,
		&:focus {
			color:#51ab6d;
			text-decoration: none;
		}
	}

	.meta__info {
		img {
			border-radius: 50%;
			margin-right: 8px;
			margin-top: -2px;
		}

		h2 {
			margin-top: 0;
			margin-bottom: 5px;
			letter-spacing: normal;
		}


		.meta__date {
			display: block;
			@media (min-width: $screen-sm-min) {
				display: inline-block;
				float: right;
			}
		}

		.meta__author {
			margin-right: 0;
			@media (min-width: $screen-sm-min) {
				margin-right: 25px;
			}
		}
	}

	.meta__comments {
		@media (min-width: $screen-sm-min) {
			float: right;
		}
	}
}

.meta__container--without-image {
	position: relative;
	height: auto;
	color: #9a9a90;
	padding: 10px 0;
	background: none;
	line-height: 30px;
	border-bottom: 1px solid #e4e4e4;
	@media (min-width: $screen-sm-min) {
		padding: 0;
		height: 70px;
		line-height: 70px;
	}

	a {
		color: #9a9a90;

		&:hover {
			border-bottom: 1px dotted #9a9a90;
		}
	}
}

.meta__quote {
	position: absolute;
	text-align: center;
	top: 12%;
	font-size: 15px;
	width: 90%;
	left: 5%;
	color: #fff;
	font-family: $secondary-font;
	font-weight: 300;
	text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
	@media (min-width: $screen-sm-min) {
		width: 80%;
		left: 10%;
		top: 35%;
		font-size: 24px;
	}
}

.sticky {
	position: relative;

	&:after,
	&:before {
		z-index: 0;
		position: absolute;
		content: "";
		width: 99%;
		background: #fff;
		bottom: -4px;
		height: 4px;
		margin-left: 0.5%;
		border: 1px solid #e4e4e4;
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
	}

	&:after {
		z-index: -1;
		width: 98%;
		bottom: -7px;
		height: 7px;
		margin-left: 1%;
	}
}

.sticky__box {
	border-bottom: 1px dashed #e4e4e4;
	padding: 12px 0;
	background-color: #fff;
	height: 45px;
	width: 100%;
	margin-bottom: 15px;
	text-align: center;
	@media (min-width: $screen-sm-min) {
		margin: -60px 0 60px;
	}
}

.sticky__circle {
	display: inline-block;
	border-radius: 50%;
	width: 20px;
	height: 20px;
	background: #ebeded;
	box-shadow: 0 1px 3px #c4c5c5 inset;
	margin: 0 8%;
	@media (min-width: $screen-sm-min) {
		margin-left: 10.6%;
		margin-right: 10.6%;
	}
}

.multi-columns {
	.meta__container,
	.meta__container--without-image {
		position: relative;
		background: none;
		padding: 0 25px;
		text-align: center;
		color: #999;
		border: none;

		a {
			color: #999;
		}
		.custom-link {
			text-decoration: none;
			&:hover,
			&:focus {
				color:#51ab6d;
				text-decoration: none;
			}
		}
		.meta__info {
			.meta__date {
				display: block;
			}

			.meta__author {
				margin-right: 0;
			}
		}

		.meta__comments {
			float: none;
			margin-bottom: 5px;
		}
	}

	.meta__container--without-image {
		height: auto;
		padding: 10px 0;
		line-height: 30px;
		margin-bottom: -25px;
		margin-top: 25px;
	}

	.sticky__box {
		@media (min-width: $screen-sm-min) {
			margin: -60px 0 45px;
		}
	}

	.sticky__circle {
		margin: 0 8%;
	}

	.meta__quote {
		top: 25%;
		font-size: 18px;
		width: 90%;
		left: 5%;
	}

	.title {
		margin: 0 0 15px;
	}

	.ranking-item.col-md-6 {
		$font-size: 24px;
		$line-height: 1.2;
		$lines-to-show: 2;

		.boxed {
			height: 35em;
			position: relative;

			.meta__info {
				h2 {
					display: block;
					display: -webkit-box;
					height: $font-size * $line-height * $lines-to-show;
					font-size: $font-size;
  					line-height: $line-height;
					-webkit-line-clamp: $lines-to-show;
				    -webkit-box-orient: vertical;
					overflow: hidden;
					text-overflow: ellipsis;
					margin-bottom: 30px;
				}
			}
			.panel-container {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
			}
		}
	}

	.ranking-item .meta {
		margin-bottom: 0;
	}

	.ranking-item .main-post-image {
		height: 200px;
	}

	.ranking-item:first-child .main-post-image {
		height: 300px;
	}

	.ranking-item:first-child .meta__quote {
		font-size: 3em;
	}

	.ranking-item .meta__quote {
		font-size: 2em;
	}

	.ranking-item span.rank {
		position: absolute;
		top: 10px;
		right: 10px;
		width: 80px;
		height: 37px;
		background-size: cover;
    	background-repeat: no-repeat;
    	background-position: center center;
    }
	.ranking-item span.rank.position1 {
		background-image: url(/static/images/ranking/ranking1.png);
	}
	.ranking-item span.rank.position2 {
		background-image: url(/static/images/ranking/ranking2.png);
	}
	.ranking-item span.rank.position3 {
		background-image: url(/static/images/ranking/ranking3.png);
	}
}
