// Post author
.post-author {
  margin-bottom: 30px;

  @media (min-width: $screen-sm-min) {
    margin-bottom: 60px;
  }

  img {
    border-radius: 50%;
    float: left;
    margin-right: 30px;
  }

  h5 {
    margin: 30px 0 5px 0;
  }

  .post-author__text {
    font-size: 14px;
    font-family: $secondary-font;
    color: #9a9a90;
  }
}
