#main-sidebar{
	.sidebar-wrapper {

		.boxed {
			padding: 15px 0;

			h6 {
				text-transform: none;
				margin-bottom: 5px;
			}

			.btn {
				margin: 0;
			}

			.btn + .btn {
				margin-top: 5px;
			}
		}
	}

	// Small grid
	//
	// Columns, offsets, pushes, and pulls for the small device range, from phones
	// to tablets.

	@media (min-width: $screen-sm-min) {
		// float: right;
	}


	// Medium grid
	//
	// Columns, offsets, pushes, and pulls for the desktop device range.

	@media (min-width: $screen-md-min) {
		position: relative;
		float: right;
	}


	// Large grid
	//
	// Columns, offsets, pushes, and pulls for the large desktop device range.

	@media (min-width: $screen-lg-min) {
		position: relative;
		float: right;
	}
}
