html, body {
  height: 100%;
  margin: 0;
}
.container-wrap {
  min-height: 100%;
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -40px;
}
.site-footer,
.push {
  height: 40px;
}
.container-wrap > header.header {position: fixed;top:0;width: 100%;z-index: 99}
.container-wrap > .push-header {height: 110px;width: 100%;}
@media (max-width: 767px) {
  div.logo {margin: 0;display: inline-block;position:absolute}
  .container-wrap > .push-header {height: 100px;}
}
