<footer class="footer site-footer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-6">
				Copyright ©{{ today.year if today.year == config.SITE_YEAR else '%s-%s' % (config.SITE_YEAR, today.year)  }} {{ config.SITE_NAME }}. All rights reserved.
			</div>
			<div class="col-xs-12 col-sm-6 footer--right">
				<a href="{{ url_for('code_of_conduct') }}">{{ _('CODE_CONDUCT_LBL') }}</a>
				<span>&nbsp;|&nbsp;</span>
				<a href="{{ url_for('privacy_policy') }}">{{ _('TOS_LBL') }}</a>
			</div>
		</div>
	</div>
</footer>
