<header class="header">
	<div class="container">
		<div class="logo" style="text-align:center;">
			<a href="{{ url_for('latest') }}">
				<img src="/static/images/logo.png?v20171128" alt="{% trans %}Logo{% endtrans %}" width="352" height="140">
			</a>
		</div>
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#readable-navbar-collapse">
				<span class="sr-only">{% trans %}TOGGLE_NAVIGATION_LBL{% endtrans %}</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<nav class="navbar  navbar-default hidden-lg hidden-md" role="navigation">
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse  navbar-collapse" id="readable-navbar-collapse">
				<ul class="navigation">
					<li class="{% if request.endpoint=='latest' %}active{% endif %}">
						<a href="{{ url_for('latest') }}" class="dropdown-toggle">{% trans%}LATEST_LBL{% endtrans %}</a>
					</li>
					<li class="{% if request.endpoint=='ranking' %}active{% endif %}">
						<a href="{{ url_for('ranking') }}">{% trans%}RANKING_LBL{% endtrans %}</a>
					</li>
					<li class="{% if request.endpoint=='show_mypage' %}active{% endif %}">
						<a href="{{ url_for('dashboard') }}" rel="nofollow">{% trans%}APP_MYPAGE{% endtrans %}</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
