<header class="header">
	<div class="container">
		<div class="logo  pull-left">
			<a href="/">
				<img src="/static/images/logo.png?v2" alt="{% trans %}Logo{% endtrans %}" width="352" height="140">
			</a>
		</div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#readable-navbar-collapse">
				<span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<nav class="navbar  navbar-default" role="navigation">
			<div class="collapse  navbar-collapse" id="readable-navbar-collapse">
				<ul class="navigation">
					<li class="{% if request.endpoint=='index' %}active{% endif %}">
						<a href="/" class="dropdown-toggle">{% trans%}Home{% endtrans %}</a>
					</li>
					<li class="{% if request.endpoint=='ranking' %}active{% endif %}">
						<a href="{{ url_for('ranking') }}">{% trans%}H'UP{% endtrans %}</a>
					</li>
					<li class="{% if request.endpoint=='show_mypage' %}active{% endif %}">
						<a href="{{ url_for('dashboard') }}" rel="nofollow">{% trans%}My Page{% endtrans %}</a>
					</li>
				</ul>
			</div>
		</nav>
		<div class="hidden-xs hidden-sm">
			{% if current_user and current_user.is_authenticated -%}
			<a href="{{ url_for('sessions.logout') }}" data-method="post" rel="nofollow" class="btn_container">
				<span class="glyphicon glyphicon-log-out"></span>
			</a>
			{%- else %}
			<a href="{{ url_for('sessions.signup') }}" rel="nofollow" class="btn_container">
				<span class="glyphicon glyphicon-plus"></span>
			</a>
			<a href="{{ url_for('sessions.login') }}" rel="nofollow" class="btn_container">
				<span class="glyphicon glyphicon-log-in"></span>
			</a>
			{%- endif %}
		</div>
	</div>
</header>
