<header class="header">
	<div class="container">
		<div class="logo  pull-left">
			<a href="/">
				<img src="/static/images/logo.png" alt="{% trans %}Logo{% endtrans %}" width="352" height="140">
			</a>
		</div>
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#readable-navbar-collapse">
				<span class="sr-only">{% trans %}Toggle navigation{% endtrans %}</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<nav class="navbar  navbar-default" role="navigation">
			<div class="collapse  navbar-collapse" id="readable-navbar-collapse">
				<ul class="navigation">
					<li class="{% if request.endpoint=='index' %}active{% endif %}">
						<a href="/" class="dropdown-toggle">{% trans%}Home{% endtrans %}</a>
					</li>
					<li class="{% if request.endpoint=='ranking' %}active{% endif %}">
						<a href="{{ url_for('ranking') }}">{% trans%}H'UP{% endtrans %}</a>
					</li>
					<li class="{% if request.endpoint=='show_mypage' %}active{% endif %}">
						<a href="{{ url_for('dashboard') }}">{% trans%}My Page{% endtrans %}</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>
</header>
