/.git/
/.vscode/
/app/configuration/
/app/events/
/app/filters/
/app/helpers/
/app/models/
/app/templates/
/app/translations/
/app/views/
/app/widgets/
/cache/
/env/
/etc/
/node_modules/
/scripts/
/static/
/webpack/