<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{% if title -%}{{ site_name }} | {{ title }}{%- else %}{{ site_name }}{%- endif %}</title>
	<meta name="description" content="{{ description if description else '' }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	{% include 'shared/icons.html' %}

	{% assets 'admin_main' %}
	<link href="{{ ASSET_URL }}" rel="stylesheet" />
	{% endassets %}

	<!-- libraries -->
	<link href="/static/theme/admin/css/lib/jquery-ui-1.10.2.custom.css" rel="stylesheet" type="text/css" />
	<link href="/static/theme/admin/css/lib/font-awesome.css" type="text/css" rel="stylesheet" />

	<!-- global styles -->
	<link rel="stylesheet" type="text/css" href="/static/theme/admin/css/compiled/layout.css">
	<link rel="stylesheet" type="text/css" href="/static/theme/admin/css/compiled/elements.css">
	<link rel="stylesheet" type="text/css" href="/static/theme/admin/css/compiled/icons.css">

	<link rel="stylesheet" type="text/css" href="/static/theme/admin/css/compiled/skins/dark.css" />
	<link rel="stylesheet" type="text/css" href="/static/theme/admin/override.css" />
	<!-- message notification styles -->
	{% include 'shared/message_header.html' %}
	<!-- this page specific styles -->

	{% block custom_css %}{% endblock %}

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
	{% set content_class = content_class|default('') %}
	{% set container_class = container_class|default('') %}
	{% set show_banner = show_banner|default(True) %}

	<!-- navbar -->
	{% include 'admin/layout/navbar.html' %}
	<!-- end navbar -->
	<!-- sidebar -->
	{% if show_banner %}{% include 'admin/layout/sidebar.html' %}{% endif %}
	<!-- end sidebar -->
	<!-- container -->
	<div class="content {{ content_class }}">
		{% block stats %}{% endblock %}
		<div id="pad-wrapper" class="{{ container_class }}">
			{% block main %}{% endblock %}
		</div>
	</div>
	<!-- end container -->

	<!-- scripts -->
	<script src="/static/js/jquery/jquery-1.12.4.min.js"></script>
	<script src="/static/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/theme/admin/js/theme.js"></script>
	<script src="/static/js/jquery_ujs.js"></script>
	<script src="/static/js/main.js"></script>
	{% include 'shared/message.html' %}
	{% block custom_js %}{% endblock %}
	<!-- end scripts -->
</body>
</html>
