<!DOCTYPE html>
<html lang="{{ language }}" class="lang-{{ language }} {{ page_class|default('') }}">
<head>
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="robots" content="nofollow" />
	<title>{% if title -%}{{ site_name }} | {{ title }}{%- else %}{{ site_name }}{%- endif %}</title>
	<meta name="description" content="{{ description if description else '' }}">

	{% include 'shared/header/_icons.html' %}
	{% include 'shared/header/_font.html' %}

	{% block before_style %}{% endblock %}
	{% block base_style %}
		{% include 'shared/assets/styles/admin.html' %}
	{% endblock %}
	{% block after_style %}{% endblock %}

	{{ widget('header_ga', language=language) }}

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	{% block header_script %}{% endblock %}
	{% include 'shared/meta/_token.html' %}
</head>

<body>
	{% block page_wrapper %}
	<!-- navbar -->
	{% include 'admin/layout/navbar.html' %}
	<!-- end navbar -->

	<!-- sidebar -->
	{% include 'admin/layout/sidebar.html' %}
	<!-- end sidebar -->

	<!-- container -->
	<div class="content {{ content_class|default('') }}">
		{% block stats %}{% endblock %}
		<div id="pad-wrapper" class="{{ container_class|default('') }}">
			{% block main %}{% endblock %}
		</div>
	</div>
	<!-- end container -->
	{% endblock %}

	{% include 'shared/footer/_message.html' %}

	{% block before_script %}{% endblock %}
	{% block base_script %}
		{% include 'shared/assets/scripts/admin.html' %}
	{% endblock %}
	{% block after_script %}{% endblock %}
</body>

</html>
