    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            <li class="active">
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                <a href="{{ url_for('dashboard') }}">
                    <i class="icon-home"></i>
                    <span>Dashboard</span>
                </a>
                       
            </li>
            <li>
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <i class="icon-edit"></i>
                    <span>Posts</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    <li><a href="{{ url_for('posts.index') }}">Post List</a></li>
                    <li><a href="{{ url_for('posts.create') }}">Add Post</a></li>
                </ul>                                         
            </li>
            <li>
                <a href="javascript:void(0);" onclick="document.getElementById('logout_form').submit();" title="Sign Out">
                    <i class="icon-signout"></i>
                    <span>Sign Out</span>
                </a>                
            </li>
        </ul>
    </div>