    {% set navigation_bar = None|sidebar -%}
    <div id="sidebar-nav">
        <ul id="dashboard-menu">
            {% for item in navigation_bar %}
            {% if (not navigation_bar[item].get('require_admin')) or (current_user.is_admin() and navigation_bar[item].get('require_admin') == True) %}
            <li class="element">
                {% if request.endpoint.startswith(navigation_bar[item]['pattern'])  %}
                <div class="pointer">
                    <div class="arrow"></div>
                    <div class="arrow_border"></div>
                </div>
                {% endif %}
                {% if 'sub-menu' in navigation_bar[item]  %}
                <a class="dropdown-toggle" href="javascript:void(0);">
                    <i class="{{ navigation_bar[item]['icon'] }}"></i>
                    <span>{{ navigation_bar[item]['name'] }}</span>
                    <i class="icon-chevron-down"></i>
                </a>
                <ul class="submenu">
                    {% for si in navigation_bar[item]['sub-menu'] %}
                    <li><a href="{{ url_for(navigation_bar[item]['sub-menu'][si]['url']) }}">{{navigation_bar[item]['sub-menu'][si]['name']}}</a></li>
                    {% endfor %}
                </ul>
                {% else %}
                <a href="{{ url_for(navigation_bar[item]['url']) }}" >
                    <i class="{{ navigation_bar[item]['icon'] }}"></i>
                    <span>{{ navigation_bar[item]['name'] }}</span>
                </a>
                {% endif %}
            </li>
            {% endif %}
            {% endfor %}
            <li>
                <a href="{{ url_for('sessions.logout') }}" data-method="post" >
                    <i class="icon-signout"></i>
                    <span>{{_('Sign Out')}}</span>
                </a>
            </li>
        </ul>
    </div>