<div class="pop-dialog full">
    <div class="body">
        <div class="settings">
            <div class="items">
            
                {% if user %}
                <div class="item">
                    <a href="http://gravatar.com/emails" target="_blank">
                        <img src="{{user.avatar(128)}}" class="img-thumbnail">
                    </a>
                </div>
                {% endif %}
                <div class="item">
                    <i class="icon-reorder"></i>
                    <a href="{{ url_for('UsersView:index') }}">Users List</a>
                </div>
                {% if request.endpoint.startswith('UsersView:put') %}
                    <div class="item">
                        <i class="icon-eye-open icon-formatted"></i>
                        <a href="{{ url_for('UsersView:get', id = user.id) }}">Show User</a>
                    </div>
                    {% if current_user.is_admin() and user.id != current_user.id %}             
                    <div class="item">
                        <i class="icon-trash icon-formatted"></i>
                        <a href="{{ url_for('UsersView:delete_0', id = user.id) }}" data-method="post" data-confirm="This will remove'{{ user.name }}', Are you sure?">Delete User</a>
                    </div>
                    {% endif %}
                    <div class="item">
                        <i class="icon-plus icon-formatted"></i>
                        <a href="{{ url_for('UsersView:post_0') }}">New User</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>  