{% extends "admin/layout/base.html" %}
{% set title = _('Users | Page %(page)s', page=page) %}

{% block main %}
<!-- users table -->
<div class="table-wrapper users-table">
	<div id="page-title" class="row">
		<div class="col-md-12">
			<h4>{{ _('Users') }}</h4>
		</div>
	</div>
	<div class="row" style="text-align:right">
		{{ pag('admin.users.index', page, limit, total, _('users'), kind='info')|safe }}
		{{ pag('admin.users.index', page, limit, total, _('users'), kind='links')|safe }}
	</div>
	<div class="row">
		<table class="table table-hover">
			<thead>
				<tr>
					<th class="col-md-3">
						{{ _('Name') }}
					</th>
					<th class="col-md-3">
						<span class="line"></span>{{ _('Signed up') }}
					</th>
					<th class="col-md-2">
						<span class="line"></span>{{ _('Total Posts') }}
					</th>
					<th class="col-md-2">
						<span class="line"></span>{{ _('Role') }}
					</th>
					<th>
						<span class="line"></span>
					</th>
				</tr>
			</thead>
			<tbody>
				<!-- row -->
				{% for user in users %}
				<tr {% if loop.first %}class="first"{% endif %}>
					<td>
						<img src="{{ user.profile_picture_url or '/static/images/user.png' }}" class="img-circle avatar hidden-phone" />
						<a href="{{ url_for('UsersView:get', id=user.id) }}" class="name">{{ user.name }}</a>
						<span class="subtext">{{ user.email }}</span>
					</td>
					<td>{{ user.created_at|datetimeformat(format='EEE, d MMM yyyy')  }} </td>
					<td>{{ user.posts.count() }}</td>
					<td>{{ user.role_desc }}</td>
					<td>
						{% if user.is_current or current_user.is_admin %}
						<div class="btn-group">
							<a class="btn btn-primary" href="{{ url_for('UsersView:put', id=user.id) }}" title="Change user's settings">
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							{% if not user.is_current %}
							<a class="btn btn-danger" data-confirm="This will remove {{ user.name}}, Are you sure?" data-method="post" href="{{ url_for('UsersView:delete', id=user.id)  }}"title="Remove this user">
								<i class="glyphicon glyphicon-trash"></i>
							</a>
							{% endif %}
						</div>
						{% endif %}
					</td>

				</tr>
				{% endfor %}


			</tbody>
		</table>
	</div>
	<div class="row" style="text-align:right">
		{{ pag('admin.users.index', page, limit, total, _('users'), kind='links')|safe }}
	</div>
</div>
<!-- end users table -->
{% endblock %}
