{% extends "admin/admin.html" %}
{% block custom_css %}
    <link rel="stylesheet" href="static/admin/css/compiled/tables.css" type="text/css" media="screen" />
{% endblock %}
{% block main %}
<!-- users table -->
<div class="table-wrapper users-table section">
    <div class="row head">
        <div class="col-md-12">
            <h4>Users</h4>
        </div>
    </div>

    <div class="row filter-block">
        <div class="pull-right">
            <a class="btn-flat pull-right success new-product add-user">+ Add user</a>
            <input type="text" class="search user-search" placeholder="Search for users.." />
        </div>
    </div>

    <div class="row">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="col-md-4">
                        Name
                    </th>
                    <th class="col-md-3">
                        <span class="line"></span>Signed up
                    </th>
                    <th class="col-md-2">
                        <span class="line"></span>Total spent
                    </th>
                    <th class="col-md-3 align-right">
                        <span class="line"></span>Email
                    </th>
                </tr>
            </thead>
            <tbody>
                <!-- row -->
                <tr class="first">
                    <td>
                        <img src="static/admin/img/contact-img.png" class="img-circle avatar hidden-phone" />
                        <a href="user-profile.html" class="name">Alejandra Galvan Castillo</a>
                        <span class="subtext">Graphic Design</span>
                    </td>
                    <td>
                        Jan 11, 2012
                    </td>
                    <td>
                        $ 500.00
                    </td>
                    <td class="align-right">
                        <a href="#">alejandra@gmail.com</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="static/admin/img/contact-img2.png" class="img-circle avatar hidden-phone" />
                        <a href="user-profile.html" class="name">Alejandra Galvan Castillo</a>
                        <span class="subtext">Graphic Design</span>
                    </td>
                    <td>
                        Apr 23, 2012
                    </td>
                    <td>
                        $ 3,210.00
                    </td>
                    <td class="align-right">
                        <a href="#">alejandra@gmail.com</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="static/admin/img/contact-img.png" class="img-circle avatar hidden-phone" />
                        <a href="user-profile.html" class="name">Alejandra Galvan Castillo</a>
                        <span class="subtext">Graphic Design</span>
                    </td>
                    <td>
                        Feb 03, 2013
                    </td>
                    <td>
                        $ 890.00
                    </td>
                    <td class="align-right">
                        <a href="#">alejandra@gmail.com</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="static/admin/img/contact-img2.png" class="img-circle avatar hidden-phone" />
                        <a href="user-profile.html" class="name">Alejandra Galvan Castillo</a>
                        <span class="subtext">Graphic Design</span>
                    </td>
                    <td>
                        Sep 19, 2012
                    </td>
                    <td>
                        $ 899.99
                    </td>
                    <td class="align-right">
                        <a href="#">alejandra@gmail.com</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- end users table -->
{% endblock %}
