{% set container_class = 'user-profile' %}
{% extends "admin/admin.html" %}
{% block custom_css %}
    <link rel="stylesheet" href="/static/admin/css/compiled/user-profile.css" type="text/css" media="screen" />
{% endblock %}
{% block main %}
<!-- header -->
<div class="row header">
    <div class="col-md-9">
        <img src="{{ user.avatar(74) }}" class="avatar img-circle">
        <h3 class="name">{{ user.name }} ({{user.nickname}})</h3>
        <span class="area">{{user.email}}</span>
    </div>
    <div class="col-md-3">     
        {% if current_user.is_authenticated() and current_user.role is administrator and current_user.id != user.id %}
        <a class="btn btn-danger pull-right" title="Delete user" href="{{ url_for('UsersView:delete_0',id=user.id) }}" data-method="post" data-confirm="This will remove '{{ user.name }}', Are you sure?">
            <i class="icon-trash"></i>
            <span>Remove</span>
        </a>
        {% endif %}
    </div>
</div>
<div class="row header">
    <div class="col-md-12">
        <div class="div pull-right">
            <a class="btn btn-success" href="{{ url_for('UsersView:index') }}">
                <i class="glyphicon glyphicon-th-list"></i>
                <span>User List</span>
            </a>            
            <a class="btn btn-primary" href="{{ url_for('UsersView:put_0',id=user.id) }}">
                <i class="glyphicon glyphicon-pencil"></i>
                <span>Edit</span>
            </a>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">User's Info</div>
            <table class="table table-striped table-condensed">                        
                <tbody>
                    <tr>
                        <td class="col-md-2"><strong>Id</strong></td>
                        <td>{{ user.id }}</td>
                    </tr>
                    <tr>
                        <td><strong>Last seen</strong></td>
                        <td>{{ user.last_seen|datetimeformat  }}</td>
                    </tr>                    
                    <tr>
                        <td><strong>Name</strong></td>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <td><strong>Nickname</strong></td>
                        <td>{{ user.nickname }}</td>
                    </tr>
                    <tr>
                        <td><strong>Address</strong></td>
                        <td>{{ user.address }}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone</strong></td>
                        <td>{{ user.phone }}</td>
                    </tr>                         
                    <tr>
                        <td><strong>Role</strong></td>
                        <td>{{ user.role|user_role }}</td>
                    </tr>                    
                    <tr>
                        <td><strong>Created at</strong></td>
                        <td>{{ user.created_at|datetimeformat  }}</td>
                    </tr>
                </tbody>
            </table>                             
        </div>
    </div>
</div>
<div class="row">
    <!-- bio, new note & orders column -->
    <div class="col-md-12">
        <div>
            <!-- recent orders table -->
            <div class="panel panel-primary">
            	<!-- Default panel contents -->
            	<div class="panel-heading">
                    Recent posts
            	</div>
            	<!-- Table -->
            	<table class="table">
            		<thead>
            			<tr>
            				<th class="col-md-2">Posted at</th>
            				<th class="col-md-2">Updated at</th>
            				<th>Title</th>
            			</tr>
            		</thead>
            		<tbody>
                    <!-- row -->
                    	{% set user_posts_id = user.get_user_posts(limit=5).first().id %}
	                    {% for post in user.get_user_posts(limit=5) %}
	                    <tr class="{{'first' if post.user.id == user_posts_id}}">
	                        <td>{{post.created_at|datetimeformat(format='%a, %d %b %Y')}}</td>
	                        <td>{{post.modified_at|datetimeformat(format='%a, %d %b %Y')}}</td>
	                        <td>{{post.title}}</td>
	                    </tr>
	                    {% endfor %}
            		</tbody>
            	</table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
