{{ _('APP_LOGIN_WARNING_MESSAGE') }}
{{ _('APP_SIGNIN_WARNING_MESSAGE') }}
{{ _('APP_PUBLISHED_AGO') }}
{{ _('EMAIL_COMMENT_TITLE') }}
{{ _('EMAIL_REPLY_COMMENT_TITLE') }}
{{ _('EMAIL_REGISTRATION_TITLE') }}
{{ _('EMAIL_RESET_PASSWORD_TITLE') }}
{{ _('APP_WRITER') }}
{{ _('APP_ADMIN') }}
{{ _('DASHBOARD_TITLE') }}
{{ _('USER_EMAIL') }}
{{ _('USER_LAST_ACCESS') }}
{{ _('APP_PROFILE') }}
{{ _('USER_EDIT') }}
{{ _('POSTS_PAG_LBL') }}
{{ _('WELCOME_MESSAGE_LBL') }}
{{ _('POST_LIST') }}
{{ _('CATEGORY_CREATE') }}
{{ _('CATEGORY_EDIT_PAGE_TITLE') }}
{{ _('CATEGORY_PAGE_TITLE') }}
{{ _('CATEGORY_LIST') }}
{{ _('CATEGORY_PAG_LBL') }}
{{ _('CATEGORY_NAME') }}
{{ _('CATEGORY_SLUG') }}
{{ _('CATEGORY_DESC') }}
{{ _('USER_LIST') }}
{{ _('CATEGORY_ACTIONS') }}
{{ _('CATEGORY_EDIT') }}
{{ _('CATEGORY_DELETE_CONFIRMATION') }}
{{ _('CATEGORY_DELETE') }}
{{ _('CATEGORY_TRANSFER_TITLE') }}
{{ _('CATEGORY_NAME_PLACEHOLDER') }}
{{ _('CATEGORY_SLUG_PLACEHOLDER') }}
{{ _('CATEGORY_DESC_PLACEHOLDER') }}
{{ _('BTN_SAVE_LBL') }}
{{ _('BTN_CLEAR_LBL') }}
{{ _('BTN_LIKE') }}
{{ _('BTN_COMMENTS') }}
{{ _('BTN_SHARE') }}
{{ _('CATEGORY_TRANSFER_POSTS') }}
{{ _('BTN_TRANSFER_LBL') }}
{{ _('APP_WELCOME_LBL') }}
{{ _('APP_YOUR_ACCOUNT') }}
{{ _('POST_DRAFT_LIST') }}
{{ _('POST_CREATE') }}
{{ _('APP_TOP') }}
{{ _('APP_SIGN_OUT') }}
{{ _('APP_HOME_LBL') }}
{{ _('APP_MYPAGE') }}
{{ _('USER_CREATE') }}
{{ _('POSTS_DRAFT_PAGE_TITLE') }}
{{ _('POSTS_DRAFT_LIST') }}
{{ _('POST_STATUS_DRAFT_LABEL') }}
{{ _('POSTS_PAGE_TITLE') }}
{{ _('BTN_UPLOAD_COVER_PICTURE_LBL') }}
{{ _('FRM_INPUT_TITLE_DESCRIPTION') }}
{{ _('FRM_INPUT_CHALLENGE_DESCRIPTION') }}
{{ _('FRM_INPUT_SOLUTION_DESCRIPTION') }}
{{ _('CB_ANONYMOUS_LBL') }}
{{ _('ERROR_STAMP_TITLE_EMPTY') }}
{{ _('ERROR_STAMP_CHALLENGE_EMPTY') }}
{{ _('ERROR_STAMP_SOLUTION_EMPTY') }}
{{ _('POST_DELETE_CONFIRMATION') }}
{{ _('POST_SHOW') }}
{{ _('POST_EDIT') }}
{{ _('POST_DELETE') }}
{{ _('FORGOT_PASSWORD_TITLE') }}
{{ _('FORGOT_PASSWORD_TEXT') }}
{{ _('MAIL_LBL') }}
{{ _('SEND_RESET_INSTRUCTION_BTN') }}
{{ _('SIGNIN_ACTION_LBL') }}
{{ _('LOGIN_BTN') }}
{{ _('RESET_PASSWORD_TITLE') }}
{{ _('RESET_PASSWORD_TEXT') }}
{{ _('RESET_PASSWORD_BTN') }}
{{ _('LOGIN_TITLE') }}
{{ _('USER_PASSWORD') }}
{{ _('REMEMBER_ME_BTN') }}
{{ _('SIGNUP_ACTION_LBL') }}
{{ _('REGISTER_BTN') }}
{{ _('FORGOT_PASWWORD_BTN') }}
{{ _('REGISTER_TITLE') }}
{{ _('NICKNAME_LBL') }}
{{ _('TOS_CHECK_LBL') }}
{{ _('USER_PROFILE_EDIT_PAGE_TITLE') }}
{{ _('USER_PROFILE_EDIT_TITLE') }}
{{ _('USER_PAGE_TITLE') }}
{{ _('USER_PAG_LBL') }}
{{ _('USER_NAME') }}
{{ _('USER_SIGNED_UP') }}
{{ _('USER_POSTS_COUNT') }}
{{ _('USER_ROLE') }}
{{ _('USER_DELETE_CONFIRMATION') }}
{{ _('USER_PROFILE_SHOW_PAGE_TITLE') }}
{{ _('USER_REMOVE') }}
{{ _('USER_INFO_TITLE') }}
{{ _('USER_ID') }}
{{ _('USER_LAST_SEEN') }}
{{ _('USER_NICKNAME') }}
{{ _('USER_ADDRESS') }}
{{ _('USER_PHONE') }}
{{ _('USER_CREATED_AT') }}
{{ _('USER_POST_RECENT_TITLE') }}
{{ _('USER_POST_PUBLISHED_AT') }}
{{ _('USER_POST_UPDATED_AT') }}
{{ _('USER_POST_TITLE') }}
{{ _('USER_POST_PAGE_TITLE') }}
{{ _('USER_PROFILE_PICTURE_UPDATE') }}
{{ _('USER_SHOW') }}
{{ _('USER_DELETE') }}
{{ _('CODE_CONDUCT_LBL') }}
{{ _('TOS_LBL') }}
{{ _('EMAIL_GREETING') }}
{{ _('EMAIL_COMMENT_DESCRIPTION') }}
{{ _('EMAIL_COMMENT_ACTION_BTN') }}
{{ _('EMAIL_END_BODY') }}
{{ _('EMAIL_REGISTRATION_DESCRIPTION') }}
{{ _('EMAIL_REGISTRATION_ACTION_BTN') }}
{{ _('EMAIL_REPLY_COMMENT_DESCRIPTION') }}
{{ _('EMAIL_RESET_PASSWORD_DESCRIPTION') }}
{{ _('ERROR_401_TITLE') }}
{{ _('ERROR_401_DESCRIPTION') }}
{{ _('ERROR_403_TITLE') }}
{{ _('ERROR_403_DESCRIPTION') }}
{{ _('ERROR_404_TITLE') }}
{{ _('ERROR_404_DESCRIPTION') }}
{{ _('ERROR_500_TITLE') }}
{{ _('ERROR_500_DESCRIPTION') }}
{{ _('SIDEBAR_USER_TITLE') }}
{{ _('SIDEBAR_STAMP_TITLE') }}
{{ _('EDIT_STAMP_LBL') }}
{{ _('LATEST_LBL') }}
{{ _('DASHBOARD_BTN') }}
{{ _('POSTS_BTN') }}
{{ _('DRAFT_BTN') }}
{{ _('PROFILE_BTN') }}
{{ _('Logo') }}
{{ _('TOGGLE_NAVIGATION_LBL') }}
{{ _('RANKING_LBL') }}
{{ _('HOME_TITLE') }}
{{ _('HOME_DESCRIPTION') }}
{{ _('LATEST_TITLE') }}
{{ _('LATEST_DESCRIPTION') }}
{{ _('RANKING_TITLE') }}
{{ _('CATEGORY_LIST_TITLE') }}
{{ _('BTN_CANCEL_LBL') }}
{{ _('BTN_UNPUBLISH_LBL') }}
{{ _('BTN_DRAFT_LBL') }}
{{ _('PUBLISH_LBL') }}
{{ _('SELECT_CATEGORY_LBL') }}
{{ _('BTN_CLOSE_LBL') }}
{{ _('COMMENT_TEXT_PLACEHOLDER') }}
{{ _('COMMENT_SUBMIT_BTN') }}
{{ _('COMMENT_DELETE_CONFIRMATION') }}
{{ _('COMMENT_REPLY_LBL') }}
{{ _('COMMENT_REPLY_TEXT_PLACEHOLDER') }}
{{ _('COMMENT_REPLY_CANCEL_BTN') }}
{{ _('COMMENT_REPLY_SUBMIT_BTN') }}
{{ _('ANONYMOUS_LBL') }}
{{ _('POSTED_BY_USER_CATEGORY_LBL') }}
{{ _('POSTED_BY_USER_LBL') }}
{{ _('LBL_SCRLL_LAST_PAGE') }}
{{ _('LBL_SCRLL_ERROR') }}
{{ _('READ_MORE_LBL') }}
{{ _('ERROR_INVALID_SUBMISSION') }}
{{ _('CATEGORY_CREATE_SUCESS') }}
{{ _('CATEGORY_NOT_FOUND') }}
{{ _('CATEGORY_SAVE_SUCCESS') }}
{{ _('CATEGORY_TRANSFER_POSTS_FAILED') }}
{{ _('CATEGORY_REMOVE_SUCCESS') }}
{{ _('CATEGORY_TRANSFER_POSTS_CHECK_FAILED') }}
{{ _('CATEGORY_TRANSFER_POSTS_SUCCESS') }}
{{ _('CATEGORY_FROM') }}
{{ _('CATEGORY_TO') }}
{{ _('CATEGORY_TRANFER_POSTS_SAME_ERROR') }}
{{ _('POST_NOT_FOUND') }}
{{ _('POST_DRAFT_SAVE_SUCESS') }}
{{ _('POST_PUBLIC_SAVE_SUCESS') }}
{{ _('POST_DELETE_SUCESS') }}
{{ _('ERROR_POST_DELETE_FAILED') }}
{{ _('SESSIONS_MSG_ALREADY_SIGNED_IN') }}
{{ _('SESSIONS_ERROR_LOGIN') }}
{{ _('SESSIONS_MSG_LOGIN_SUCESS') }}
{{ _('SESSIONS_ERROR_UNFINISHED_CHALLENGE_LBL') }}
{{ _('SESSIONS_MSG_SIGNUP_COMPLETED') }}
{{ _('SESSIONS_MSG_SIGNED_OUT') }}
{{ _('SESSIONS_ERROR_MAIL_NOT_FOUND') }}
{{ _('SESSIONS_PASSWORD_RESET') }}
{{ _('ERROR_INVALID_RESET_PASSWORD_CODE') }}
{{ _('SESSIONS_MSG_PASSWORD_RESET_COMPLETED') }}
{{ _('USER_RESET_PASSWORD') }}
{{ _('USER_CONFIRM_PASSWORD_INVALID') }}
{{ _('USER_RESET_PASSWORD_CONFIRM') }}
{{ _('USER_NICKNAME_INVALID') }}
{{ _('USER_EMAIL_TAKEN_ERROR') }}
{{ _('USER_NICKNAME_TAKEN_ERROR') }}
{{ _('USER_CONFIRM') }}
{{ _('USER_TIMEZONE') }}
{{ _('USER_NOT_FOUND') }}
{{ _('USER_CREATE_SUCCESS') }}
{{ _('USER_SAVE_SUCCESS') }}
{{ _('USER_DELETE_SUCCESS') }}
{{ _('USER_DELETE_FAIL') }}
{{ _('USER_POST_HIDE_SUCCESS') }}
{{ _('USER_POST_RESTORE_SUCCESS') }}
{{ _('USER_POST_HIDE_OR_RESTORE_FAIL') }}
{{ _('COMMENT_SAVE_SUCESS') }}
{{ _('COMMENT_DELETE_SUCCESS') }}
{{ _('ERROR_COMMENT_DELETE_FAILED') }}
{{ _('NAME_LBL') }}
{{ _('USER_NAME_INVALID') }}
{{ _('COMMENT_DESC') }}
{{ _('WELCOME_TITLE_LBL') }}
{{ _('WELCOME_SUBTITLE_LBL') }}
{{ _('GO_TO_STORIES_BTN') }}
{{ _('WELCOME_SUBTITLE_EXTRA_LBL') }}
{{ _('INTRO1_LBL') }}
{{ _('INTRO2_LBL') }}
{{ _('INTRO3_LBL') }}
{{ _('INTRO4_LBL') }}
{{ _('APP_ERROR_AND_RETRY') }}
