<div class="pop-dialog full">
    <div class="body">
        <div class="settings">
            <div class="items">
                {% if user %}
                <div class="item no-padding">
					<div class="user-profile-picture img-thumbnail push-down-15"
						style="background-image:url({{ user.profile_picture_url or '/static/images/user-neutral.png' }})">
					</div>
                </div>
                {% endif %}

				{% if user.is_current %}
				<div class="item">
					<a href="{{ url_for('UsersView:upload_profile_picture', id=user.id) }}" class="upload-profile-picture-btn" data-target=".user-profile-picture">
						<i class="glyphicon glyphicon-edit"></i>
						{{ _('USER_PROFILE_PICTURE_UPDATE') }}
					</a>
					<form class="upload-profile-picture-form" enctype="multipart/form-data">
						{{ form.hidden_tag() }}
						<input name="file" type="file" accept="image/jpeg,image/x-png"/>
					</form>
				</div>
				{% endif %}

				<div class="item">
					<a href="{{ url_for('UsersView:index') }}">
						<i class="glyphicon glyphicon-list"></i>
						{{ _('USER_LIST') }}
					</a>
				</div>

                {% if request.endpoint.startswith('UsersView:put') and current_user.is_admin %}
					<div class="item">
						<a href="{{ url_for('UsersView:get', id = user.id) }}">
							<i class="glyphicon glyphicon-eye-open"></i>
							{{ _('USER_SHOW') }}
						</a>
					</div>

	                {% if not user.is_current  %}
	                <div class="item">
	                    <a href="{{ url_for('UsersView:delete', id = user.id) }}"
							data-method="post"
							data-confirm="{{ _('USER_DELETE_CONFIRMATION', name=user.name)}}">
							<i class="glyphicon glyphicon-trash"></i>
							{{ _('USER_DELETE') }}
						</a>
	                </div>
	                {% endif %}

	                <div class="item">
	                    <a href="{{ url_for('UsersView:post') }}">
							<i class="glyphicon glyphicon-plus"></i>
							{{ _('USER_CREATE') }}
						</a>
	                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
