{% extends "admin/layout/base.html" %}
{% set title = _('Create Category') %}

{% block main %}
    <div id="page-title" class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h4>{{ _('New Category') }}</h4>
        </div>
    </div>
    <br/>
    <div class="row">
       <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="well">
                {% include 'admin/categories/partials/_category_form_add.html' %}
            </div>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            {% include 'admin/categories/partials/_sidebar.html' %}
        </div>
    </div>
{% endblock %}
