{% extends "admin/layout/base.html" %}
{% set title = _('Edit Category: %(name)s', name=category.name) %}

{% block main %}
<div id="page-title" class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<h4>{{ _('Edit Category') }}</h4>
	</div>
</div>
<br/>
<div class="row">
	<div class="col-md-9 col-sm-12 col-xs-12">
		<div class="well">
			{% include 'admin/categories/partials/_category_form_edit.html' %}
		</div>
	</div>
	<div class="col-md-3 col-sm-12 col-xs-12">
		{% include 'admin/categories/partials/_sidebar.html' %}
	</div>
</div>
{% endblock %}
