<div class="boxed  push-down-20">
	<div class="meta">
		<div class="main-post-image"
			style="background-image:url({% if post.cover_picture %}{{ post.cover_picture.image_url }}{%- else %}/static/images/others/stamp-no-cover.jpg{%- endif %})">
		</div>
		{% if loop.index < 4 %}<span class="rank position{{ loop.index }}"></span>{% endif %}
		<div class="meta__container">
			<div class="row">
				<div class="col-xs-12  col-sm-12">
					<div class="meta__info">
						<a href="{{ url_for('story.show', id=post.id) }}">
							<h2>{{ post.title }}</h2>
						</a>
						<span class="meta__author">
							{% if not post.anonymous -%}
								<img src="{{ post.user.profile_picture_url or '/static/images/user.png' }}"
									alt="{{ post.user.nickname }}" width="30" height="30">
								{% set user_name = '<a href="%s" class="custom-link">%s</a>' % (url_for('story.show', id=post.id), post.user.nickname) %}
							{%- else %}
								<img src="/static/images/user.png" width="30" height="30" />
								{% set user_name = _('ANONYMOUS_LBL') %}
							{%- endif %}

							{% if post.has_category %}
								{% set category_name = '<a href="%s" class="custom-link">%s</a>' % (url_for('story.category', slug=post.category.slug), post.category.name) %}
								{{ _('POSTED_BY_USER_CATEGORY_LBL', user=user_name|safe, category=category_name|safe) }}
							{%- else %}
								{{ _('POSTED_BY_USER_LBL', user=user_name|safe) }}
							{%- endif %}
						</span>
						<span class="meta__date">
							<span class="glyphicon glyphicon-calendar"></span> &nbsp; {{ post.created_at|datetimeformat('DATE') }}
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-container">
		<div class="row">
			<div class="col-xs-10  col-xs-offset-1">
				<!-- End of the content -->
				<a href="{{ url_for('story.show', id=post.id) }}">
					<div class="read-more">
						{{ _('READ_MORE_LBL') }}
						<div class="read-more__arrow">
							<span class="glyphicon  glyphicon-chevron-right"></span>
						</div>
					</div>
				</a>
			</div>
		</div>
	</div>
</div>
