{% extends "emails/layout/base.html" %}

{% block content %}
<tr>
	<td class="wrapper">
		<table border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td>
					<p>{{ _('EMAIL_GREETING', name=user.name) }}</p>
					<p>{{ _('EMAIL_RESET_PASSWORD_DESCRIPTION', email=user.email) }}</p>
					<a href="{{ url_for('sessions.reset_password', code=user.reset_password, _external=True) }}" target="_blank">
						{{ url_for('sessions.reset_password', code=user.reset_password, _external=True) }}
					</a>
					<br/>
					<br/>
					{{ _('EMAIL_END_BODY', name=config.SITE_NAME) | safe }}
				</td>
			</tr>
		</table>
	</td>
</tr>
{% endblock %}
