{% extends "main/layout/home.html" %}
{% set title = _('HOME_TITLE') %}
{% set description = _('HOME_DESCRIPTION') %}

{% block full_page %}
<div class="sliding-image">
	<div id="fullpage">
		<div id="slide__1" class="section">
			<div id="slide1" class="slide slide_1">
				<div class="intro">
					<h1>{{ _('WELCOME_TITLE_LBL', name=config.SITE_NAME) }}</h1>
					<div class="panel-welcome">
						<h6>{{ _('WELCOME_SUBTITLE_LBL') }}</h6>
						<a href="{{ url_for('latest') }}" class="btn btn-info">{{ _('GO_TO_STORIES_BTN') }}</a>
					</div>
					<div class="panel-welcome">
						{% if current_user and current_user.is_authenticated -%}
						<a href="{{ url_for('dashboard') }}" rel="nofollow" class="btn btn-primary">{{ _('DASHBOARD_BTN') }}</a>
						{%- else %}
						<h6>{{ _('WELCOME_SUBTITLE_EXTRA_LBL') }}</h6>
						<a href="{{ url_for('sessions.login') }}" rel="nofollow" class="btn btn-primary">{{ _('LOGIN_BTN') }}</a>
						<a href="{{ url_for('sessions.signup') }}" rel="nofollow" class="btn btn-gray">{{ _('REGISTER_BTN') }}</a>
						{%- endif %}
					</div>
				</div>
			</div>
			<div id="slide2" class="slide slide_2">
				<div class="intro">
					<h1>{{ config.SITE_NAME }}</h1>
					<p>{% trans %}INTRO1_LBL{% endtrans %}</p>
				</div>
			</div>
			<div id="slide3" class="slide slide_3">
				<div class="intro">
					<h1>{{ config.SITE_NAME }}</h1>
					<p>{% trans %}INTRO2_LBL{% endtrans %}</p>
				</div>
			</div>
			<div id="slide4" class="slide slide_4">
				<div class="intro">
					<h1>{{ config.SITE_NAME }}</h1>
					<p>{% trans %}INTRO3_LBL{% endtrans %}</p>
				</div>
			</div>
			<div id="slide5" class="slide slide_5">
				<div class="intro">
					<h1>{{ config.SITE_NAME }}</h1>
					<p>{% trans %}INTRO4_LBL{% endtrans %}</p>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
