.main-post-image {
	width: 100%;
	height: 300px;
	margin: 0 0 12px;
	border-radius: 5px 5px 0 0;
	background: no-repeat center;
	background-size: cover;
}

.push-down-20 {
	margin-bottom: 20px;
}

h1.title {
	margin: 0;
	font-size: 40px;
	letter-spacing: 0;
}

h1+h3,
h2+h3 {
	margin: 0;
}

@media (max-width: 767px) {
	div.logo {
		margin: 0;
		display: inline-block;
		position: absolute;
	}
}
