.story-editor {
	body {
		background: #fff;
	}
}

.container-wrap-editor {
	margin: 40px 0;
	padding: 0;
	background: #fff;

	.container {
		@media (min-width: $screen-sm-min) {
			width: 750px;
		}
	}

	.navbar {
		// height: 50px;
		a {
			border: none;
		}

		.navbar-form {
			margin: 5px 0 0 0;
		}
	}

	#story-container {
		#story-title,
		#story-body {
			border: none;
			box-shadow: none;
			padding: 0;
		}

		#story-title {
			font-size: 2em;
			font-weight: 700;
		}

		#story-body {
			@include content-generic;
		}

		@media (max-width: $screen-xs-max) {
			padding: 0 12px;
		}
	}
}

.ck.ck-block-toolbar-button {
	@media (max-width: $screen-xs-max) {
		transform: translateX(5px) !important;
	}
}
