<div class="meta push-down-20">
	{% if post.cover_picture %}
	<div class="main-post-image" style="background-image:url({{ post.cover_picture.image_url }})"></div>
	{% else %}
	<div class="main-post-image" style="background-image:url(/static/images/others/stamp-no-cover.jpg)"></div>
	<q class="meta__quote">{{ post.title }}</q>
	{% endif %}
	<div class="meta__container">
		<div class="row">
			<div class="col-xs-12  col-sm-12">
				{% include 'main/stories/partials/_user_info.html'%}
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 push-down-30">
		<div class="post-content">
			<div class="social clearfix">
				{% include 'shared/like_button.html' %}
			</div>
			<h1 class="title">
				<a href="{{ url_for('story.show', id=post.id) }}">{{ post.title }}</a>
			</h1>
			<div class="post-body">
				{{ post.extra_body|safe }}
			</div>
		</div>
	</div>
</div>
