
body, html {
    height: 100%;
}

html {
	background: $main-bg-color;
	&.small {
		background-size: auto !important;
	}
}

body {
	font-family: $primary-font;
	position: relative;
	margin: 0;
	font-size: 12px;
	padding: 0;
	background: none;
}

h1,
h2,
h3,
h4,
h5 {
	margin: 0;
	line-height: inherit;
	color: #29323d;

	small {
		margin-left: 15px;
		font-style: italic;
	}
}

a:focus,
a:hover {
	text-decoration: none;
}

body.menu {
	overflow-x: hidden;

	.content {
		margin-left: 165px;
		position: fixed;
		width: 850px;
	}

	#sidebar-nav {
		background: $main-bg-color;
		position: absolute;
		left: 0;
		background-size: 100% 100%;
		box-shadow: none;
	}
}

.header {
	h1,
	h2,
	h3,
	h4,
	h5 {
		float: left;
		margin-top: 5px;
	}
	margin-bottom: 10px;
}
/* Custom navbar stuff */
.navbar-inverse {
	/* navbar settings and logout icons */
	background: none;
	border: 1px solid transparent;
	box-shadow: none;
	.settings i {
		color: $main-color;
		font-size: 21px;
	}
	/* notification menu with custom dropdowns */
	.notification-dropdown {
		position: relative;

		> a.active,
		> a:hover {
			background: #254261 !important;
			box-shadow: inset 1px 0 1px 0 rgb(62, 90, 121);
		}

		i {
			font-size: 17px;
			color: #9ba3ad;
		}

		.count {
			position: absolute;
			top: 1px;
			left: 58%;
			background: rgb(252, 130, 123);
			padding: 0 5px;
			border-radius: 30px;
			color: #fff;
			line-height: 16px;
			z-index: 9999;
			text-align: center;
			font-size: 11px;
		}
	}
	/* navbar popup dialog */
	.pop-dialog {
		position: absolute;
		right: -10px;
		top: 55px;
		display: none;

		&.is-visible {
			display: block;
			-webkit-animation: reveal 0.2s ease-out;
			-moz-animation: reveal 0.2s ease-out;
			animation: reveal 0.2s ease-out;
		}

		.body {
			box-shadow: 0 1px 9px 1px #c2c2c2;
		}

		.close-icon {
			float: right;
			text-decoration: none;
			z-index: 9999;
			position: relative;
		}

		.footer {
			border-top: 1px solid #e6e8e9;
			background-color: #eff4f7;
			margin: 15px 0 -10px;
			border-radius: 0 0 5px 5px;
			padding: 12px 20px;
			text-align: center;

			a {
				font-weight: 600;
				color: #7d91a8;
			}
		}
		/* navbar popup dialog for notifications */
		.notifications {
			width: 330px;
			margin: 10px -10px 0;

			h3 {
				font-size: 13px;
				color: #404951;
				font-weight: bold;
				padding-left: 20px;
				margin-top: 5px;
				margin-bottom: 15px;
			}

			.item {
				display: block;
				padding: 10px 0 8px 20px;
				border-top: 1px solid #e7e8ea;
				color: rgb(54, 54, 54);
				text-decoration: none;
				padding-left: 50px;
				position: relative;
				transition: all 0.25s linear;
				-moz-transition: all 0.25s linear;
				-webkit-transition: all 0.25s linear;
				-o-transition: all 0.25s linear;

				&:hover {
					background: rgb(240, 246, 255);
				}

				> i {
					color: rgb(252, 130, 123);
					position: absolute;
					left: 19px;
					font-size: 18px;

					&.icon-user {
						left: 18px;
					}
				}

				.time {
					float: right;
					color: #82a3c1;
					font-style: italic;
					font-weight: 600;
					font-size: 11px;
					min-width: 60px;
					margin-right: 5px;

					i {
						font-size: 13px;
						color: #cfcfcf;
						margin-right: 1px;
					}
				}
			}
		}
		/* navbar popup dialog for messages */
		.messages {
			width: 325px;
			margin: 10px -10px 0;

			.item {
				display: block;
				padding: 10px 20px 15px;
				height: 80px;
				border-bottom: 1px solid #e7e8ea;
				color: rgb(54, 54, 54);
				text-decoration: none;
				position: relative;
				transition: all 0.25s linear;
				-moz-transition: all 0.25s linear;
				-webkit-transition: all 0.25s linear;
				-o-transition: all 0.25s linear;

				&.last {
					border-bottom: 0;
				}

				&:hover {
					background: rgb(240, 246, 255);
				}

				.display {
					float: left;
					border-radius: 50px;
					margin-right: 15px;
				}

				.name {
					font-size: 12px;
					color: #404951;
					font-weight: bold;
				}

				.msg {
					font-size: 11px;
					color: rgb(99, 99, 99);
					line-height: 13px;
					position: relative;
					top: 2px;
				}

				.time {
					position: absolute;
					right: 0;
					bottom: 6px;
					color: #82a3c1;
					font-style: italic;
					font-weight: 600;
					font-size: 11px;
					min-width: 60px;
					margin-right: 5px;

					i {
						font-size: 13px;
						color: #cfcfcf;
						margin-right: 1px;
					}
				}
			}

			.footer {
				margin-top: 6px;
			}
		}
	}
}
/* Sidebar */

/* sidebar */
#sidebar-nav {
	position: absolute;
	width: 178px;
	float: left;
	margin: 0;
	padding-top: 20px;

	#dashboard-menu {
		list-style: none;
		padding: 0;
		margin: 0;

		> li {
			position: relative;
			padding: 10px 0;

			&:hover,
			&.active {
				background: rgba(25, 31, 36, 0.6);

				> a {
					font-weight: 600;
					color: #fff;
				}
			}

			& > a {
				position: relative;
				display: flex;
				padding: 0 8px;
				color: $main-color;
				text-decoration: none;
				align-items: center;

				& > i,
				& > span {
					display: inline-block;
					line-height: 1;
					font-size: 1.0em;
				}

				& > i {
					&.glyphicon {
						top: 0;
						width: 20px;
					}

					&.glyphicon-chevron-down {
						position: absolute;
					    right: 5px;
					    top: 2px;
					}
				}
			}


		}

		/* sidebar submenus */
		> li.open,
		> li.active {
			.dropdown-toggle {
				border-bottom: 0;
				box-shadow: none;
			}
		}

		ul.submenu {
			list-style-type: none;
			display: none;
			margin: 10px 0 -10px 0;
			padding: 10px 5px 10px 20px;
			border: none;
			background: rgba(25, 31, 36, 0.6);

			&.active {
				display: block;
			}

			> li {
				a {
					margin: 0;
					padding: 0;
					font-size: 13px;
					line-height: 1;
					font-weight: normal;
					color: $main-color;
					text-decoration: none;
					display: block;
				}

				&.active,
				&:hover {
					a {
						font-weight: bold;
					}
				}
			}

			li + li {
				margin-top: 10px;
			}
		}

		.pointer {
			position: absolute;
			right: 21px;
			top: 8px;

			.arrow,
			.arrow_border {
				border-color: transparent #fff transparent transparent;
				border-width: 11px;
				border-style: solid;
				font-size: 0;
				left: 50%;
				line-height: 0;
				margin: 0 auto;
				position: absolute;
				top: 0;
				width: 0;
				z-index: 1002;
				left: 4px;
				margin-left: 45%;
			}

			.arrow_border {
				border-color: transparent rgb(192, 210, 221) transparent transparent;
				border-width: 11px;
				margin-left: -1px;
				border-style: solid;
				z-index: 1001;
				top: 0;
			}
		}
	}
}

.content {
	min-width: 400px;
	min-height: 100%;
	padding-bottom: 0;
	overflow: hidden;
	position: relative;
	background: #fff;
	margin-left: 177px;
	border-left: 1px solid #dae3e9;
	transition: margin-left 0.3s ease;

	#pad-wrapper {
		padding: 0 40px;
		margin: 20px 0;
		height: 100%;
		display: block;

		h4 {
			line-height: 1.2;
			color: #696d73;
			margin-bottom: 20px;
		}
	}

	&.wide-content {
		margin-left: 0;
		border-radius: 0;
	}
	/* starts skins changer */
	.skins-nav {
		opacity: 1;
		transition: right 0.3s;
		position: fixed;
		right: -88px;
		top: 135px;
		font-size: 13px;
		z-index: 9999;

		&:hover {
			right: 0;
		}

		a {
			display: block;
			color: #fff;
			text-decoration: none;
			padding-left: 10px;
			height: 37px;
			-webkit-border-radius: 4px 0 0 4px;
			-moz-border-radius: 4px 0 0 4px;
			border-radius: 4px 0 0 4px;
			margin-bottom: 3px;
			-webkit-transition: all 0.5s;
			-moz-transition: all 0.5s;
			-ms-transition: all 0.5s;
			-o-transition: all 0.5s;
			transition: all 0.5s;

			&.first_nav {
				background: rgba(95, 175, 228, 0.8);

				&:hover {
					background: rgba(95, 175, 228, 1);
				}
			}

			&.second_nav {
				background: rgba(36, 43, 77, 0.8);

				&:hover {
					background: rgba(36, 43, 77, 1);
				}
			}

			&.selected .icon {
				background-position: 0 -9px;
			}

			.text {
				padding-right: 12px;
				white-space: nowrap;
				display: block;
				width: 115px;
				position: relative;
				top: 9px;
				-webkit-transition: width 0.2s;
				-moz-transition: width 0.2s;
				-ms-transition: width 0.2s;
				-o-transition: width 0.2s;
				transition: width 0.2s;
			}
		}
	}
	/* end skin changer*/
}
/* responsive */
@media (max-width: 1020px) {}
@media (max-width: 768px) {
	#pad-wrapper {
		padding: 0 15px;
	}

	.content {
		min-width: 100%;
		margin: 0;
	}

	#dashboard-menu .pointer {
		display: none;
	}

	#sidebar-nav {
		left: -200px;
		position: fixed;
		z-index: 9999;
		background-color: #f7f7f7;
		padding-top: 0;
		border-right: 1px solid #ccc;
		width: 165px;
		box-shadow: 1px 1px 4px 1px rgb(233, 233, 233);
		transition: left 0.3s ease;
	}

	#sidebar-nav #dashboard-menu {
		margin: 0;
	}

	#sidebar-nav #dashboard-menu li a span {
		visibility: visible;
	}

	#sidebar-nav #dashboard-menu li:last-child a {
		border-bottom: 0;
		box-shadow: none;
	}
}
@media (max-width: 822px) {
	.navbar-inverse input.search {
		display: none;
	}
}
@media (max-width: 767px) {
	#main-stats .stat {
		width: 50%;
		float: left;
	}
}
