.users-list {
	.header {
		h3 {
			margin-top: 0px;
		}
		input.search {
			padding: 5px 6px;
			position: relative;
			top: 0px;
			&:focus {
				box-shadow: none;
				border: 1px solid #888;
			}
		}
		.ui-select {
			margin: 3px 40px 0 0;
		}
		.ui-dropdown {
			margin-left: 20px;
			input.form-control {
				width: 60px;
				display: inline-block;
				height: 28px;
				margin: 0px 8px;
			}
		}
		a.btn-flat span {
			font-size: 17px;
			position: relative;
			top: 2px;
			margin-right: 4px;
		}
	}
	.pagination {
		margin-top: 25px;
	}
}

/* responsive */
@media (max-width: 767px) {
	.ui-dropdown .dialog .body{
		width: 250px;
		left: 58%;
		position: relative;
	}
	.users-list {
		.table {
			a.name {
				font-size: 12px;
			}
			td {
				font-size: 12px;
			}
			.avatar {
				display: none;
			}
		}
		h3 {
			display: block;
			float: none;
			margin-bottom: 30px;
		}
		.header {
			input.search {
				margin-bottom: 18px;
			}
			.ui-dropdown {
				float: left;
				margin-left: 0;
			}
		}
	}

	.ui-dropdown .dialog .body .form input[type="text"]{
		margin-top: 10px;
	}
	.ui-dropdown .dialog .body .form a{
		margin-top: 10px;
		margin-left: 18px;
	}
}
