.signup-bg {
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0));
	background-color: #eff0f3;
	background-repeat: no-repeat;
	height: 100%;

	.header {
		margin-bottom: 30px;
		background: #51ab6d;
		width: 100%;
		height: 75px;
		text-align: center;
		padding-top: 15px;
	}

	.signup-wrapper {
		position: absolute;
		left: 0;
		right: 0;
		text-align: center;

		.box {
			margin: 0 auto;
			padding: 30px 0 0 0;
			float: none;
			width: 100%;
			max-width: 400px;
			box-shadow: rgba(0,0,0,0.4) 0 1px 3px,rgba(0,0,0,0.35) 0 0 1px;
			background: #fff;
			border-radius: 6px;

			.content-wrap {
				width: 82%;
				margin: 0 auto;
			}

			h6 {
				text-transform: capitalize;
				margin: 0 0 15px;
				font-size: 18px;
				font-weight: 600;
			}

			.captcha-container {
				display: inline-block;
				margin: 0 auto 10px 0;
			}

			input[type="text"],
			input[type="password"] {
				font-size: 15px;
				height: 40px;
				margin-bottom: 10px;
				border-color: #b2bfc7;
				padding-left: 12px;

				&:focus {
					border: 1px solid #28a0e5;
					outline: none;
					-webkit-box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
					-moz-box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
					-ms-box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
					-o-box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
					box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
				}
			}

			input[type="password"] {
				margin-bottom: 10px;
			}

			input:-moz-placeholder {
				color: rgb(155, 168, 182);
				font-size: 14px;
				letter-spacing: 0;
				font-style: italic;
			}

			input:-ms-input-placeholder {
				color: rgb(155, 168, 182);
				font-style: italic;
				letter-spacing: 0;
				font-size: 14px;
			}

			input::-webkit-input-placeholder {
				color: rgb(155, 168, 182);
				font-style: italic;
				letter-spacing: 0;
				font-size: 14px;
			}

			.checkbox {
				line-height: 1;

				label {
					padding: 0;

					input {
						height: 17px;
						margin: 0;
					}

					span, a {
						font-size: 12px;
						line-height: 1.5;
						font-weight: 700;
					}

					input + span,
					input + a {
						margin-left: 17px;
					}
				}
			}

			.action {
				border-top: 1px solid #d3d7db;
				background-color: #f4f5f6;
				margin: 0 -36px;
				position: relative;
				border-radius: 0 0 7px 7px;
				padding: 15px 0;
			}
		}

		.already {
			margin: 0 auto;
			float: none;
			text-align: center;
			font-size: 13px;
			margin-top: 30px;

			p {
				display: inline-block;
				color: #222;
			}

			a {
				color: #222;
				margin-left: 7px;
				border-bottom: 1px solid;
				transition: all 0.1s linear;
				-moz-transition: all 0.1s linear;
				/* Firefox 4 */
				-webkit-transition: all 0.1s linear;
				/* Safari and Chrome */
				-o-transition: all 0.1s linear;
				/* Opera */
				&:hover {
					text-decoration: none;
					color: #000;
					border-bottom-color: #000;
				}
			}
		}
	}
	/* responsive */
	@media (max-width: 767px) {
		.signup-wrapper .box {
			width: 350px;
		}

		.signup-wrapper .box .action {
			margin: 0 -31px;
		}
	}
	@media (max-width: 480px) {
		.signup-wrapper .box {
			width: 90%;
		}
	}
}
