.user-page {
	background: linear-gradient(rgba(255,255,255,0.3), rgba(255,255,255,0));
	background-color: #eff0f3;
	background-repeat: no-repeat;
	height: 100%;

	.header {
		margin: 0 0 30px;
		padding: 10px;
		background: #51ab6d;
		width: 100%;

		.logo {
			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
			margin: 0 auto;

			img {
				display: block;
				vertical-align: middle;
			}
		}
	}

	.content-wrapper {
		.panel {
			margin: 0 auto;

			.panel-body,
			.panel-footer {
				padding: 15px 30px;
			}

			.panel-body {
				.alert {
					width: 100%;
					margin: 0 0 10px;
				}

				h6 {
					text-transform: capitalize;
					margin: 0 0 15px;
					font-size: 18px;
					font-weight: 600;
					text-align: center;
				}

				p.description {
					font-size: 14px;
					font-weight: 600;
				}

				.form-group {
					margin: 0;
				}

				.form-group + .captcha-container,
				.form-group + .form-group {
					margin-top: 15px;
				}

				input[type="text"],
				input[type="password"] {
					font-size: 15px;
					height: 40px;
					border-color: #b2bfc7;
					padding-left: 12px;

					&:focus {
						border: 1px solid #28a0e5;
						outline: none;
						box-shadow: inset 0 1px 2px #ddd,0px 0 5px #28a0e5;
					}
				}

				.checkbox {
					line-height: 1;
					margin: 10px 0 0;

					label {
						padding: 0;

						input {
							height: 17px;
							margin: 0;
						}

						a,
						span {
							font-size: 12px;
							line-height: 1.5;
							font-weight: 700;
						}

						input + a,
						input + span {
							margin-left: 17px;
						}
					}
				}
			}

			.panel-footer {
				.btn-flat {
					font-size: 14px;
					padding: 7px 20px;
					display: block;
					margin: 0 auto;
				}
			}

			.captcha-container + .panel-footer {
				margin-top: 15px;
			}
		}

		.already {
			margin: 20px auto 0;
			text-align: center;

			a,
			p {
				font-size: 14px;
				line-height: 1;
				display: inline-block;
				color: #222;
				margin: 0;
			}

			a {
				text-decoration: underline;

				&:hover {
					text-decoration: none;
				}
			}

			p + a {
				margin-left: 5px;
			}

			.already-item + .already-item {
				margin-top: 5px;
			}
		}

		.captcha-container {
			position: relative;
		}
	}
	@media (max-width: $screen-xs-max) {
		.content-wrapper {
			padding: 0 8px;
		}
	}
	@media (min-width: $screen-sm-min) {
		.content-wrapper {
			.alert,
			.panel {
				width: 400px;
			}

			.panel-lg {
				width: 500px;
			}
		}
	}
	// @media (min-width: $screen-md-min) {
	//
	// }
	//
	// @media (min-width: $screen-lg-min) {
	//
	// }
}
