{% extends "blog/base.html" %}
{% block main %}
<article class="blog-post">
    <header>
        <h1>{{post.title}}</h1>
        <div class="lead-image">
        	<img src="http://a57.foxnews.com/global.fncstatic.com/static/managed/img/fn2/feeds/Space.com/660/371/mars-one-lander-2018-mission-concept.jpg?ve=1&amp;tl=1" alt="mars-one-lander-2018-mission-concept" class="img-responsive" width="740px">
            <div class="meta clearfix">
  
                <div class="author">
                    <i class="icon-user"></i>
                    <span class="data">{{post.user.name}}</span>
                </div>
                <div class="date">
                    <i class="icon-calendar"></i>
                    <span class="data"> {{post.created_at|datetimeformat('%d %B %Y')}}</span>
                </div>
                <div class="comments">
                    <i class="icon-comments"></i>
                    <span class="data"><a href="#comments">0 Comments</a></span>
                </div>                                
            </div>
        </div>
    </header>
    <div class="body">
    	{{post.body|safe}}
    </div>
</article>

<aside class="social-icons clearfix">
    <a href="#" class="social-icon color-one">
            <div class="inner-circle" ></div>
            <i class="icon-twitter"></i>
    </a>
    <a href="#" class="social-icon color-two">
            <div class="inner-circle" ></div>
            <i class="icon-google-plus"></i>
    </a>
    <a href="#" class="social-icon color-three">
            <div class="inner-circle" ></div>
            <i class="icon-facebook"></i>
    </a>
</aside>
<aside class="comments" id="comments">
    <hr>
    <h2><i class="icon-comments"></i> 24 Comments</h2>
    <article class="comment">
        <header class="clearfix">
            <img src="/static/blog/img/avatar.png" alt="A Smart Guy" class="avatar">
            <div class="meta">
                <h3><a href="#">Willy Wonka</a></h3>
                <span class="date">
                    27 July 2013
                </span>
                <span class="separator">
                    -
                </span>
                
                <a href="#create-comment" class="reply-link">Reply</a>                
            </div>
        </header>
         <div class="body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut  liquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        </div>
    </article>

    <article class="comment reply">
        <header class="clearfix">
            <img src="/static/blog/img/avatar.png" alt="A Smart Guy" class="avatar">
            <div class="meta">
                <h3><a href="#">Willy Wonka</a></h3>
                <span class="date">
                    27 July 2013
                </span>
                <span class="separator">
                    -
                </span>
                
                <a href="#create-comment" class="reply-link">Reply</a>                
            </div>
        </header>
         <div class="body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut  liquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        </div>
    </article>

    <article class="comment ">
        <header class="clearfix">
            <img src="/static/blog/img/avatar.png" alt="A Smart Guy" class="avatar">
            <div class="meta">
                <h3><a href="#">Willy Wonka</a></h3>
                <span class="date">
                    27 July 2013
                </span>
                <span class="separator">
                    -
                </span>
                
                <a href="#create-comment" class="reply-link">Reply</a>                
            </div>
        </header>
         <div class="body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut  liquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        </div>
    </article>

    <article class="comment">
        <header class="clearfix">
            <img src="/static/blog/img/avatar.png" alt="A Smart Guy" class="avatar">
            <div class="meta">
                <h3><a href="#">Willy Wonka</a></h3>
                <span class="date">
                    27 July 2013
                </span>
                <span class="separator">
                    -
                </span>
                
                <a href="#create-comment" class="reply-link">Reply</a>                
            </div>
        </header>
         <div class="body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut  liquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident.
        </div>
    </article>        
</aside>

{% endblock %}


