{% extends "blog/base.html" %}
{% block custom_js %}
    <script src="/static/ckeditor/ckeditor.js"></script>
    <script src="/static/ckeditor/adapters/jquery.js"></script>
    <script src="/static/js/editor_loader.js"></script>
{% endblock %}
{% block main %}
<article class="blog-post">
    <header>
        <h1>{{post.title}}</h1>
        <div class="lead-image" style="min-height:110px;">
            {% if post.image_url %}
            <img src="{{post.image_url}}" class="img-responsive" width="100%">
            {% endif %}
            <div class="meta clearfix">
  
                <div class="author">
                    <i class="icon-user"></i>
                    <span class="data">{{post.user.name}}</span>
                </div>
                <div class="date">
                    <i class="icon-calendar"></i>
                    <span class="data"> {{post.created_at|datetimeformat('%d %B %Y')}}</span>
                </div>
                <div class="comments">
                    <i class="icon-comments"></i>
                    <span class="data"><a href="#comments">{{post.comments.count()}} Comments</a></span>
                </div>                                
            </div>
        </div>
    </header>
    <div class="body">
    	{{post.body|safe}}
    </div>
</article>

<aside class="comments" id="comments">
    <hr>
    <h2><i class="icon-comments"></i> {{post.comments.count()}} Comments</h2> 
    {% from "shared/_bootstrap_forms.html" import render_comment %}
    {% for comment in post.comments %}
        {% if not comment.comment_id %}
            {{ render_comment(comment, current_user, post) }}
        {% endif %}
    {% endfor %}
</aside>
<aside class="create-comment" id="create-comment">
    {% if form %}
    {% from "shared/_bootstrap_forms.html" import render_inline_field %}
    <hr>
    <h2><i class="icon-heart"></i> Add Comment</h2>    
    <div class="well">
        <form action="{{url_for('show_post',id=post.id)}}" method="post" name="AddComment" autocomplete="off">
            {{form.hidden_tag()}}
            <div class="row">
                <div class="col-md-2">
                    <img src="{{ current_user.avatar(76) }}" alt="User: {{ current_user.name }}" class="img-circle">
                </div>
                <div class="col-md-10">
                      <h3>{{current_user.name}}</h3>
                </div>
            </div>
            {{ render_inline_field(form.body, id="txt_editor_area",placeholder="Your thoughts...", rows="5") }}
            <div class="buttons clearfix">
                <button id="btn_editor_clear" type="reset" class="btn btn-lg btn-tales-two">Clear</button>
                <button type="submit" class="btn btn-lg btn-tales-one">Submit</button>
            </div>
        </form>
    </div>
    {% elif post.comments.count() > 50 %}
    <hr>
    <h3><i class="glyphicon glyphicon-lock"></i> Comments closed</h3>
    {% else %}
    <hr>
    <div style="text-align:center;">
        <h3><i class="glyphicon glyphicon-log-in"></i> To comment please sign in</h3>
        <a href="{{ url_for('sessions.login_comment', id=post.id) }}" class="btn btn-lg btn-primary" style="float:none;">
            Sign in
        </a>
    </div>
    {% endif %}
</aside>

{% endblock %}


