.story-feed-list,
.story-single {
	.story-item {
		& > .story-cover-picture {
			margin: 0;
			width: 100%;
			height: 300px;
			border-radius: 0;
			background: no-repeat center;
			background-size: cover;

			@media (min-width: $screen-sm-min) {
				border-radius: 5px 5px 0 0;
			}
		}

		& > .story-content {
			padding: 20px 10px;

			@media (min-width: $screen-sm-min) {
				padding: 20px 30px;
			}

			& > .story-title {
				margin: 0;
				font-size: 30px;
				font-family: $secondary-font;
				line-height: 1.1;
				letter-spacing: -0.5px;

				@media (max-width: $screen-xs-max) {
					font-size: 20px;
				}

				a {
					color: #333;

					&:hover,
					&:focus {
						text-decoration: none;
					}
				}
			}

			& > .story-info {
				display: block;
				box-sizing: border-box;

				img.thumb {
					-webkit-border-radius: 50px;
					-moz-border-radius: 50px;
					-ms-border-radius: 50px;
					-o-border-radius: 50px;
					border-radius: 50px;
					width: 30px;
					height: 30px;
					float: left;
					margin-right: 6px;
					display: block;
				}

				ul {
					list-style: none;
					display: block;
					padding: 4px 0 0 0;
				}

				ul li {
					display: inline-block;
					margin-left: 3px;
					vertical-align: middle;
					line-height: 1;

					a,
					span {
						line-height: 1;
						margin: 0;
						padding: 0;
					}

					span {
						color: #333;
					}
				}

				ul li:after {
					content: "|";
					margin-left: 3px;
					color: #c7cad0;
				}

				ul li:last-child:after {
					content: "\00a0";
				}
			}

			& > .story-body {
				font-family: $secondary-font;

				& > h3 {
					font-size: 20px;
					font-weight: 300;
					color: #999;
					letter-spacing: -0.75px;
					line-height: 1.25;
					margin: 0;
				}

				& > p {
					color: #2e3137;
					font-weight: 400;
					line-height: 1.3;
					font-size: 14px;
					font-family: $primary-font;
				}

				& > h3 + p {
					margin: 15px 0 0 0;
				}

				& > .content {
					@include content-generic;
				}
			}

			& > .story-social {
				padding: 15px 0 0 0;
				border-top: 1px solid #e7e7e7;

				.icon-social {
					display: inline-block;
					width: 40px;
					height: 40px;
					background: no-repeat center;
					background-size: 35px 35px;
					border: 1px solid #606770;
					border-radius: 100px;
					cursor: pointer;
					box-sizing: border-box;
					margin-right: 15px;
					float: left;

					&:hover,
					&:focus,
					&.active {
						border-color: #51ab6d;
					}


					&:last-child {
						margin-right: 0;
					}

					&.upvote {
						background-image: url('/static/images/icons/praise_off.png');

						&.active {
							background-image: url('/static/images/icons/praise_on.png');
						}

						&:hover,
						&:focus {
							background-image: url('/static/images/icons/praise_breath.svg');
						}
					}

					&.comment {
						background-image: url('/static/images/icons/comments_off.png');

						&.active {
							background-image: url('/static/images/icons/comments_on.png');
						}

						&:hover,
						&:focus {
							background-image: url('/static/images/icons/comments_breath.svg');
						}
					}

					&.share {
						float: right;
						background-image: url('/static/images/icons/share_off.png');

						&.active {
							background-image: url('/static/images/icons/share_on.png');
						}

						&:hover,
						&:focus {
							background-image: url('/static/images/icons/share_breath.svg');
						}
					}

					// & > img {
					// 	width: 40px;
					// 	height: 40px;
					// 	display: none;
					// }

					// & > img.off {
					// 	display: block;
					// }

					// &.active,
					// &:hover {
					// 	border-color: #51ab6d;

					// 	& > img.off {
					// 		display: none;
					// 	}
					// }

					// &:hover > img.hover {
					// 	display: block;
					// }

					// &.active > img.on {
					// 	display: block;
					// }
				}
			}
		}
	}

	.custom-link {
		text-decoration: none;
		&:hover,
		&:focus {
			color: #51ab6d;
			text-decoration: none;
		}
	}
}
