<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="row">
		    <div class="col-md-9">
			    {% if request.endpoint.startswith('CommentsView:get') %}
			    <h3 class="panel-title">{{ _('Posted by %(name)s', name=comment.user.name) }}</h3>
			    {% else %}
				<a href="{{ url_for('CommentsView:get', id=comment.id) }}">
					<h5 class="panel-title">{{ _('Posted by %(name)s', name=comment.user.name) }}</h5>
				</a>
                {% if comment.reply %}
                    <strong> {{ _('In response to the user %(name)s', name=comment.reply.user.name) }}</strong>
                {% endif %}				
			    {% endif %}
		    </div>
		    <div class="col-md-3">
				{% if comment.can_edit() %}
				<a class="btn btn-success pull-right" href="{{ url_for('CommentsView:put_0', id=comment.id) }}">
					<i class="icon-edit"></i>
				</a>
				{% endif %}
		    </div>
		    <div class="clearfix"></div>
	    </div>
	</div>	
	<div class="panel-body">
		<div class="row">
		    <div class="col-md-12">
		    {% if request.endpoint.startswith('CommentsView:get') %}
		    	{{ comment.body|safe }}
		    {% else %}
		    	{{ comment.body|htmltruncate(200)|safe }}
		    {% endif %}
		    </div>
	    </div>
	</div>
	<div class="panel-footer">
		<div>
			{% if comment.can_edit() %}
			<a href="{{ url_for('CommentsView:delete_0', id=comment.id) }}" data-method="post" rel="nofollow" data-confirm="{{ _('This will remove the comment \'%(title)s\', Are you sure?', title=comment.id) }}">
				<i class="icon-trash"></i>
			</a>
			{% endif %}		
			<div class="pull-right">
				<strong>{{ comment.modified_at | humanformat }}</strong>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>						
</div>