{% from "shared/_bootstrap_forms.html" import render_inline_field %}
<form action="{{url_for('CommentsView:put_0', id=comment.id)}}" method="POST" name="EditComment" autocomplete="off">
    {{form.hidden_tag()}}
    {{ render_inline_field(form.body,id="txt_editor_area",placeholder=_('Edit comment...'), rows="30") }}
	<div class="checkbox">
		<label>
		{{ render_inline_field(form.remain) }} 
        {{_('View comment after save')}}
		</label>
	</div>
    
    <div class="actions clearfix">
    	<input type="submit" value="{{_('Save')}}" class="btn btn-large btn-primary pull-right">
        <input id="btn_editor_clear" type="reset" value="{{_('Clear')}}" class="btn btn-large btn-danger">
    </div>
</form>
