{% extends "admin/layout/base.html" %}
{% block custom_css %}
    <link rel="stylesheet" href="/static/theme/admin/css/compiled/index.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/theme/admin/css/compiled/ui-elements.css" type="text/css" media="screen">
{% endblock %}
{% block main %}
    <div class="row head">
        <div class="col-md-12">
            <h4>{{ _('Show comment') }}</h4>
        </div>
    </div>
    <br/>
	<div class="row">
	    <div class="col-md-9">
	    	{% include 'admin/comments/_comment_item.html' %}
	    </div>

	    <div class="col-md-3">
	    	{% include 'admin/comments/_sidebar.html' %}
	    </div>		    
	</div>
{% endblock %}