{% from "shared/macros/_bootstrap.html" import render_normal_field %}
<form action="{{ url }}" method="post">
	{{ render_normal_field(form.slug, class="form-control", form_group_class="md-mb-10", placeholder=_('CATEGORY_SLUG_PLACEHOLDER')) }}

	{{ render_normal_field(form.name, class="form-control", form_group_class="md-mb-10", placeholder=_('CATEGORY_NAME_PLACEHOLDER')) }}
	{{ render_normal_field(form.description, class="form-control", form_group_class="md-mb-40", placeholder=_('CATEGORY_DESC_PLACEHOLDER'), rows="5") }}

	{{ render_normal_field(form.name_es, class="form-control", form_group_class="md-mb-10", placeholder=_('CATEGORY_DESC_PLACEHOLDER'), rows="5") }}
	{{ render_normal_field(form.description_es, class="form-control", form_group_class="md-mb-40", placeholder=_('CATEGORY_DESC_PLACEHOLDER'), rows="5") }}


	{{ render_normal_field(form.name_fr, class="form-control", form_group_class="md-mb-10", placeholder=_('CATEGORY_DESC_PLACEHOLDER'), rows="5") }}
	{{ render_normal_field(form.description_fr, class="form-control", form_group_class="md-mb-40", placeholder=_('CATEGORY_DESC_PLACEHOLDER'), rows="5") }}


	{{ render_normal_field(form.name_ja, class="form-control", form_group_class="md-mb-10", placeholder=_('CATEGORY_DESC_PLACEHOLDER'), rows="5") }}
	{{ render_normal_field(form.description_ja, class="form-control", form_group_class="md-mb-40", placeholder=_('CATEGORY_DESC_PLACEHOLDER'), rows="5") }}


	{{ render_normal_field(form.name_cn, class="form-control", form_group_class="md-mb-10", placeholder=_('CATEGORY_DESC_PLACEHOLDER'), rows="5") }}
	{{ render_normal_field(form.description_cn, class="form-control", form_group_class="md-mb-40", placeholder=_('CATEGORY_DESC_PLACEHOLDER'), rows="5") }}

    <div class="actions clearfix">
        <input type="submit" value="{{ _('BTN_SAVE_LBL') }}" class="btn btn-large btn-primary pull-right">
        <input type="reset" value="{{ _('BTN_CLEAR_LBL') }}" class="btn btn-large btn-danger">
    </div>
	{{ form.hidden_tag() }}
</form>
