{% from "shared/_bootstrap_forms.html" import render_normal_field %}
<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">{{ _('CATEGORY_TRANSFER_POSTS')}}</h3>
	</div>
	<form action="{{ url_for('CategoriesView:transfer_post') }}" method="post" name="TransferPosts" class="form-horizontal" role="form">
		<div class="panel-body">
			{{ render_normal_field(form.from_id, class="form-control")}}
			{{ render_normal_field(form.to_id, class="form-control")}}
		</div>
		<div class="panel-footer">
			<button type="reset" class="btn btn-large btn-danger">{{ _('BTN_CLEAR_LBL') }}</button>
			<button type="submit" class="btn btn-primary pull-right">{{ _('BTN_TRANSFER_LBL') }}</button>
		</div>
		{{ form.hidden_tag() }}
	</form>
</div>
