{% extends "admin/layout/base.html" %}
{% set title = _('DASHBOARD_TITLE') %}

{% block main %}
<div class="row">
	<div class="col-md-3 col-sm-12 col-xs-12 main-sidebar">
		<div class="panel panel-primary">
			<div class="panel-heading">{{ current_user.name }}</div>
			<div class="panel-body" style="text-align:center;">
				<a href="{{ url_for('UsersView:get',id=current_user.id) }}">
					<img alt="{{ current_user.name }}" class="img-thumbnail" src="{{ current_user.profile_picture_url or '/static/images/user-neutral.png' }}">
				</a>
				<div><strong>{{ _('USER_EMAIL')}}</strong><br/>{{ current_user.email  }}</div>
				<div><strong>{{ _('USER_LAST_ACCESS')}}</strong><br/>{{ current_user.last_seen|datetimeformat  }}</div>
			</div>
			<div class="panel-footer text-center">
				<div class="btn-group">
					<a class="btn btn-success" href="{{ url_for('UsersView:get', id=current_user.id) }}">
						<i class="glyphicon glyphicon-user"></i>
						<span>{{ _('APP_PROFILE') }}</span>
					</a>
					<a class="btn btn-danger" href="{{ url_for('UsersView:put', id=current_user.id) }}">
						<i class="glyphicon glyphicon-cog"></i>
						<span>{{ _('USER_EDIT') }}</span>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9 col-sm-12 col-xs-12 main-list">
		{% if posts and posts.count() -%}
    		{{ pag('admin.index', page, limit, total, _('POSTS_PAG_LBL'), kind='info')|safe }}
    		{{ pag('admin.index', page, limit, total, _('POSTS_PAG_LBL'), kind='links')|safe }}
		    {% for post in posts -%}
		      {% include 'admin/posts/partials/_post_item.html' %}
		    {% endfor %}
    		{{ pag('admin.index', page, limit, total, _('POSTS_PAG_LBL'), kind='links')|safe }}
	    {%- else %}
	    <a href="{{ url_for('stamp.new') }}" class="no-post-message">
	      <img src="/static/images/stories/feather-blue-256.png" alt="{{ site_name }}" />
	      <span>{{ _('WELCOME_MESSAGE_LBL') | safe }}</span>
	    </a>
	    {%- endif %}
	</div>
</div>
{% endblock %}

{% block stats %}
<div id="main-stats">
	<div class="row stats-row">
		<div class="col-md-6 col-sm-6 stat">
			<div class="data">
				<span class="number">{{ current_user.posts.count() }}</span>
				{{ _('POST_LIST') }}
			</div>
			<span class="date"></span>
		</div>
	</div>
</div>
{% endblock %}
