{% extends "admin/layout/base.html" %}
{% set title = _('Blog Administration') %}

{% block main %}
<div class="row">
	<div class="col-md-3 col-sm-12 col-xs-12">
		<div class="div panel panel-primary">
			<div class="div panel-heading">{{ current_user.name }}</div>
			<div class="div panel-body" style="text-align:center;">
				<a href="{{ url_for('UsersView:get',id=current_user.id) }}">
					<img alt="{{ current_user.name }}" class="img-thumbnail" src="{{ current_user.profile_picture_url or '/static/images/user-neutral.png' }}">
				</a>
				<div><strong>{{ _('Email')}}</strong><br/>{{ current_user.email  }}</div>
				<div><strong>{{ _('Last login')}}</strong><br/>{{ current_user.last_seen|datetimeformat  }}</div>
			</div>
			<div class="panel-footer">
				<div class="div btn-group">
					<a class="btn btn-success" href="{{ url_for('UsersView:get',id=current_user.id) }}" title="View user's profile">
						<i class="glyphicon glyphicon-user"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-9 col-sm-12 col-xs-12">
		{% if posts and posts.count() -%}
    		{{ pag('admin.index', page, limit, total, _('posts'), kind='info')|safe }}
    		{{ pag('admin.index', page, limit, total, _('posts'), kind='links')|safe }}
		    {% for post in posts -%}
		      {% include 'admin/posts/partials/_post_item.html' %}
		    {% endfor %}
    		{{ pag('admin.index', page, limit, total, _('posts'), kind='links')|safe }}
	    {%- else %}
	    <a href="{{ url_for('stamp.new') }}" class="no-post-message">
	      <img src="/static/assets/admin/images/Logo/feather-blue-256.png" alt="{{ site_name }}" />
	      <span>{{ _('WELCOME_MESSAGE_LBL') | safe }}</span>
	    </a>
	    {%- endif %}
	</div>
</div>
{% endblock %}

{% block stats %}
<div id="main-stats">
	<div class="row stats-row">
		<div class="col-md-6 col-sm-6 stat">
			<div class="data">
				<span class="number">{{ current_user.posts.count() }}</span>
				{{ _('Posts') }}
			</div>
			<span class="date"></span>
		</div>
	</div>
</div>
{% endblock %}
