<!DOCTYPE html>
<html lang="en" class="login-bg">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>{% if title -%}{{ site_name }} | {{ title }}{%- else %}{{ site_name }}{%- endif %}</title>
	<meta name="description" content="{{ description if description else '' }}">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- build:css(app) /static/assets/admin/styles/main.css -->
	<link rel="stylesheet" href="/static/assets/admin/styles/base/main.css">
	<link rel="stylesheet" href="/static/assets/admin/styles/lib/font-awesome.css">
	<link rel="stylesheet" href="/static/lib/node_modules/alertifyjs/build/css/alertify.css"/>
	<link rel="stylesheet" href="/static/lib/node_modules/alertifyjs/build/css/themes/semantic.css"/>
	<!-- endbuild -->

	<!-- open sans font -->
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>

	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
	<div class="header">
		<a href="{{ url_for('index') }}">
			<img alt="{{ site_name }}" class="logo" src="/static/assets/admin/images/logo.png">
		</a>
	</div>
	<div class="login-wrapper">

		<div class="box">
			<div class="content-wrap">
				<h6>{{ _('Sign Up') }}</h6>
				{% from "shared/_bootstrap_forms.html" import render_inline_field %}
				<form action="{{ url_for('sessions.signup') }}" method="post" name="signup" autocomplete="off">
					{{ form.hidden_tag() }}
					{{ render_inline_field(form.email, class="form-control",placeholder=_('E-mail')) }}
					{{ render_inline_field(form.name, class="form-control",placeholder=_('Name')) }}
					{{ render_inline_field(form.nickname, class="form-control",placeholder=_('Nickname')) }}
					{{ render_inline_field(form.password, class="form-control",placeholder=_('Password')) }}
					{{ render_inline_field(form.confirm_password, class="form-control",placeholder=_('Confirm Password')) }}
					<div class="action">
						<input type="submit" value="{{ _('Sign Up') }}" class="btn-glow primary login btn-lg">
					</div>
				</form>
			</div>
		</div>

		<div class="already">
			<p>{{ _('Already have an account?') }}</p>
			<a href="{{ url_for('sessions.login') }}">{{ _('Sign in') }}</a>
		</div>
	</div>

	<!-- build:js(app) /static/assets/admin/scripts/main.js -->
	<script src="/static/lib/bower_components/jquery/dist/jquery.js"></script>
	<script src="/static/lib/bower_components/sass-bootstrap/dist/js/bootstrap.js"></script>
	<script src="/static/lib/node_modules/alertifyjs/build/alertify.js"></script>
	<script src="/static/assets/admin/scripts/base/plugins/theme.js"></script>
	<script src="/static/assets/admin/scripts/base/plugins/jquery_ujs.js"></script>
	<script src="/static/assets/admin/scripts/base/plugins/upload.js"></script>
    <script src="/static/assets/admin/scripts/base/plugins/notifications.js" charset="utf-8"></script>
	<!-- endbuild -->

	{% include 'shared/message.html' %}
</body>
</html>
