<!DOCTYPE html>
<html lang="en" class="login-bg">
<head>
    {% include 'shared/meta.html' %}
	
    <!-- bootstrap -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/static/admin/css/bootstrap/bootstrap-responsive.css" rel="stylesheet">
    <link href="/static/admin/css/bootstrap/bootstrap-overrides.css" type="text/css" rel="stylesheet">

    <!-- global styles -->
    <link rel="stylesheet" type="text/css" href="/static/admin/css/compiled/layout.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/compiled/elements.css">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/compiled/icons.css">

    <!-- libraries -->
    <link rel="stylesheet" type="text/css" href="css/lib/font-awesome.css">
    
    <!-- this page specific styles -->
    <link rel="stylesheet" href="/static/admin/css/compiled/signup.css" type="text/css" media="screen" />

    <!-- open sans font -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
    <div class="header">
        <a href="{{ url_for('index') }}">
            <img src="/static/logo.png" class="logo" />
        </a>
    </div>
    <div class="login-wrapper">
        {% include 'shared/message.html' %}  
        <div class="box">
            <div class="content-wrap">
                <h6>{{ _('Sign Up') }}</h6>
                {% from "shared/_bootstrap_forms.html" import render_inline_field %}
                <form action="{{ url_for('sessions.signup') }}" method="post" name="signup" autocomplete="off">
                    {{ form.hidden_tag() }}
                    {{ render_inline_field(form.email, class="form-control",placeholder=_('E-mail')) }}
                    {{ render_inline_field(form.name, class="form-control",placeholder=_('Name')) }}
                    {{ render_inline_field(form.nickname, class="form-control",placeholder=_('Nickname')) }}
                    {{ render_inline_field(form.password, class="form-control",placeholder=_('Password')) }}
                    {{ render_inline_field(form.confirm_password, class="form-control",placeholder=_('Confirm Password')) }}
                    <div class="action">
                        <input type="submit" value="{{ _('Sign Up') }}" class="btn-glow primary login btn-lg">
                    </div>
                </form>
            </div>
        </div>

        <div class="already">
            <p>{{ _('Already have an account?') }}</p>
            <a href="{{ url_for('sessions.login') }}">{{ _('Sign in') }}</a>
        </div>
    </div>

	<!-- scripts -->
    <script src="/static/js/jquery-1.9.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/admin/js/theme.js"></script>
    <script src="/static/js/jquery_ujs.js"></script>
</body>
</html>