{% extends "admin/layout/base.html" %}

{% set title = _('Signin') %}
{% set page_class = 'login-bg' %}

{% block wide_container_main %}
<div class="login-wrapper">
	<a href="{{ url_for('index') }}">
		<img alt="{{ site_name }}" class="logo" src="/static/assets/admin/images/logo.png">
	</a>
	<div class="box">
		<div class="content-wrap">
			<h6>{{ _('Log in') }}</h6> {% from "shared/_bootstrap_forms.html" import render_inline_field %}
			<form action="{{ url_for('sessions.login') }}" method="post" name="login">
				{{ form.hidden_tag() }} {{ render_inline_field(form.email,class="form-control",placeholder=_('E-mail address')) }} {{ render_inline_field(form.password, class="form-control",placeholder=_('Password')) }}
				<div class="remember">
					{{ form.remember_me }}
					<label for="remember_me">Remember me</label>
				</div>
				<input type="submit" value="{{ _('Sign In') }}" class="btn-glow primary login">
			</form>
		</div>
	</div>

	<div class="no-account">
		<p>{{ _('Don\'t have an account?') }}</p>
		<a href="{{ url_for('sessions.signup')}}">{{ _('Sign up') }}</a>
	</div>
</div>
{% endblock %}
