{% extends "main/layout/base.html" %}
{% set title = _('CODE_CONDUCT_LBL') %}

{% block container %}
<div class="container">
	{% block wide_container %}
	<div class="boxed push-down-60">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-md-10 col-md-offset-1 push-down-60">
				<div class="post-content">
					<h1>Code of Conduct</h1>
					<p>Outside of the following policy framework, we are free to remove your content from the website. If you see something on HeadUP that you believe violates our Code of conduct, please report it to us. </p>
					<p><strong>1. Be respectful</strong></p>
					<p>HeadUP has to stay a platform where people with diverse backgrounds, beliefs, opinions can express themselves sharing stories in a civil, respectful and considerate way.</p>
					<p><strong>2. Be clear</strong></p>
					<p>In order for HeadUp to keep on being a great resource and an attractive platform with meaningful content, try to be concise and to use proper grammar and spelling as much as possible when writing a post.</p>
					<p><strong>3. Identity</strong></p>
					<p>Do not use your HeadUP profile to impersonate another person, act as another entity without authorization.</p>
					<p><strong>4. Intellectual property</strong></p>
					<p>Do not post content that infringes any intellectual property right of another party.</p>
					<p><strong>5. Privacy</strong></p>
					<p>Do not publish personal identifiable information of others without their permission.</p>
					<p><strong>6. Spam</strong></p>
					<p>Do not use HeadUp to post inappropriate or delirious content, commercial content or content that solicits others for personal or financial gain.</p>
					<p><strong>7. Hate content & Sexually explicit material</strong></p>
					<p>HeadUP does not tolerate insulting or harassing content that attacks or disparages an individual or group based on race, gender, religion, nationality, ethnicity, political group, sexual orientation or another similar characteristic. Content about generalizations in these topics should be phrased as neutrally as possible.</p>
					Profile and topic photos on HeadUp may not contain nudity or sexually explicit material. Sexual content identified as outrageous will not be allowed.
					<p><strong>8. Malicious Activity</strong></p>
					<p>Do not contribute viruses, malware, and other malicious programs or engage in activity that harms or interferes with the operation of HeadUP.</p>
					<p><strong>9. Illegal activities</strong></p>
					<p>Do not use HeadUP to engage in unlawful activity or to promote illegal acts.</p>
				</div>
			</div>
		</div>
	</div>
	{% endblock %}
</div>
{% endblock %}
