{% extends "main/layout/blank.html" %}
{% set title = _('HOME_TITLE') %}
{% set description = _('HOME_DESCRIPTION') %}

{% block page %}
	<!--START OF NAV-->
	<nav class="navbar navbar-expand-lg navbar-light" id="nav-wrapper" style="padding:0;">
		<a class="navbar-brand" href="/" style="margin-right:0;"><img src="/media/lp/201905/images/logo.png"
				id="logo-1" style="height: 4rem; transition: width 0.5s ease;" /></a>
		<a class="navbar-brand" href="/"><img src="/media/lp/201905/images/logo-headup-white.png" height="40"
				id="logo-2" /></a>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" style="border:0;">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto"></ul>
			<ul class="navbar-nav" id="mainNav">
				<li class="nav-item" style="padding:0 20px;">
					<a class="nav-link" id="nav-home" href="#home">{{ _('LP_HOME_LBL') }}</a>
				</li>
				<li class="nav-item" style="padding:0 20px;">
					<a class="nav-link" id="nav-aboutUs" href="#stickers">STICKERS</a>
				</li>
				<li class="nav-item" style="padding:0 20px;">
					<a class="nav-link" id="nav-aboutUs" href="#category">{{ _('LP_STORY_CATEGORIES_LBL') }}</a>
				</li>
				<li class="nav-item" style="padding:0 20px;">
					<a class="nav-link" id="nav-aboutUs" href="#contact">{{ _('LP_STORY_CONTACT_US_LBL') }}</a>
				</li>
				<li class="nav-item dropdown" style="padding:0 20px; ">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						{{ _('LP_STORY_LANGUAGE_LBL') }}
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
						{% for key, value in config.LANGUAGES %}
							<a href="{{ request.path|urlthis(key) }}" class="dropdown-item {{ 'disabled' if key == language else '' }}">
								<img src="/media/lp/201905/images/{{ key }}.svg" style="width:28px;height:28px;">
								<span style="text-transform: uppercase;">{{ value }}</span>
							</a>
							{% if not loop.last %}
							<hr />
							{% endif %}
						{% endfor %}
					</div>
				</li>
				{% if current_user and current_user.is_authenticated -%}
				<li class="nav-item dropdown" style="padding:0 20px; ">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false">
						{{ _('LP_ACCOUNT') }}
					</a>
					<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
						<a href="{{ url_for('PostsView:index') }}" class="dropdown-item">{{ _('POST_LIST') }}</a>
						<a href="{{ url_for('PostsView:draft_list') }}" class="dropdown-item">{{ _('POST_DRAFT_LIST') }}</a>
						<a href="{{ url_for('PostsView:post') }}" class="dropdown-item">{{ _('POST_CREATE') }}</a>
						<div class="dropdown-divider"></div>
						<a href="{{ url_for('UsersView:get', id=current_user.id) }}" class="dropdown-item">{{ _('APP_PROFILE') }}</a>
						<a href="{{ url_for('sessions.logout', ret='/') }}" class="dropdown-item" data-method="post" title="{{ _('APP_SIGN_OUT') }}">
							{{ _('APP_SIGN_OUT') }}
						</a>
					</div>
				</li>
				{%- else %}
				<li class="nav-item" style="padding:2px 8px;">
					<a class="nav-link btn btn-outline-secondary round-corner box-effect-small" id="btnLogin"
						href="{{ url_for('sessions.login') }}" rel="nofollow" style="padding: 0.2rem 1.5rem;font-size:14px;">{{ _('LP_STORY_LOGIN_LBL') }}</a>
				</li>
				<li class="nav-item" style="padding:2px 8px;">
					<a class="nav-link btn round-corner box-effect-small" id="btnSignUp"
						href="{{ url_for('sessions.signup') }}" rel="nofollow">{{ _('LP_STORY_SIGN_UP_LBL') }}</a>
				</li>
				{%- endif %}
			</ul>
		</div>
	</nav>
	<!--END OF NAV-->
	{{ widget('lp_home', language=language) }}
{% endblock %}


{% block head %}
	{{ widget('lp_head', language=language) }}
{% endblock %}
