{% extends "main/layout/base.html" %}
{% set title = _('LATEST_TITLE') %}
{% set description = _('LATEST_DESCRIPTION') %}

{% block meta_extra %}
	{% if config.FB_APPID %}
	<meta property="fb:app_id" content="{{ config.FB_APPID }}" />
	{% endif %}
	<meta property="og:type" content="blog" />
	<meta property="og:url" content="{{ url_for('latest', _external=true) }}" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ description }}">
	<meta property="og:image" content="{{ url_for('static', filename='images/lp/home/screen-bg_1.jpg', _external=true) }}" />
{% endblock %}

{% block content %}
	<section id="feed-page" class="stories-list-container" data-target-tmpl="stories-feed-item-tmpl">
	</section>
	{% include 'shared/feed/_status.html' %}
	<script id="stories-feed-item-tmpl" type="text/x-lodash-template">
		{% include 'src/stories/_feed-item.html' %}
	</script>
{% endblock %}

{% block sidebar %}
	{% include 'main/common/_sidebar_user.html' %}
{% endblock %}
