{% extends "main/layout/error-base.html" %}
{% set title = title|default('401 Forbidden') %}

{% block content %}
<div class="boxed  push-down-30">
  <div class="meta">
    <img class="wp-post-image" src="/static/images/feather-ball-pen-fr.jpg" alt="{{ title }}" style="height:300px">
  </div>
  <div class="row">
    <div class="col-xs-10  col-xs-offset-1">
      <div class="post-content--front-page">
        <h2 class="front-page-title">{{ title }}</h2>
        <p>{{ _('Ackward... Apparently you don\'t have permission to access this resource.') }}</p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
