    <div class="col-md-12 col-sm-12">
        <article class=" blog-teaser">
            <header>
                <h3><a href="{{ url_for('show_stamp', post_id=post.id) }}">{{ post.title }}</a></h3>
                <span class="meta">{{ post.created_at|datetimeformat('EEE, d MMM yyyy') }}, By {{ post.user.name }}</span>
                <hr>
            </header>
            <div class="body">
                {{ post.body|htmltruncate(500)|safe }}
            </div>
            <div class="clearfix">
                <a href="{{ url_for('show_stamp', post_id=post.id) }}" class="btn btn-tales-one">{{ _('Read more') }}</a>
            </div>
        </article>
    </div>
