    <div class="col-md-12 col-sm-12">
        <article class=" blog-teaser">
            <header>
                <img src="http://a57.foxnews.com/global.fncstatic.com/static/managed/img/fn2/feeds/Space.com/660/371/mars-one-lander-2018-mission-concept.jpg?ve=1&amp;tl=1" alt="mars-one-lander-2018-mission-concept">
                <h3><a href="{{ url_for('show_post', id=post.id) }}">{{ post.title }}</a></h3>
                <span class="meta">{{post.created_at|datetimeformat('%d %B %Y')}}, By {{ post.user.name }}</span>
                <hr>
            </header>
            <div class="body">
                {{post.body|safe}}
            </div>
            <div class="clearfix">
                <a href="{{ url_for('show_post', id=post.id) }}" class="btn btn-tales-one">Read more</a>
            </div>
        </article>
    </div>