    <div class="col-md-12 col-sm-12">
        <article class=" blog-teaser">
            <header>
                {% if post.image_url %}
                <img src="{{post.image_url}}" class="img-responsive" width="100%">
                {% endif %}                
                <h3><a href="{{ url_for('show_post', id=post.id) }}" rel="nofollow">{{ post.title }}</a></h3>
                <span class="meta">{{post.created_at|datetimeformat('%d %B %Y')}}, By {{ post.user.name }}</span>
                <hr>
            </header>
            <div class="body">
                {{post.body|htmltruncate(500)|safe}}
            </div>
            <div class="clearfix">
                <a href="{{ url_for('show_post', id=post.id) }}" class="btn btn-tales-one">{{_('Read more')}}</a>
            </div>
        </article>
    </div>