<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
    {% include 'shared/meta.html' %}
    <!-- Bootstrap styles -->
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/blog/css/vendor/bootstrap/bootstrap-theme.css">
    <!-- Font-Awesome -->
    <link rel="stylesheet" href="/static/blog/css/vendor/font-awesome/font-awesome.css">
    <!-- Google Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600|PT+Serif:400,400italic' rel='stylesheet' type='text/css'>
    <!-- Styles -->
    <link rel="stylesheet" href="/static/blog/css/styles-bluered.css" id="theme-styles">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="css/ie8.css">
        <script src="/static/blog/js/vendor/google/html5-3.6-respond-1.1.0.min.js"></script>
    <![endif]-->
    <meta content="authenticity_token" name="csrf-param">
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
    <!-- header -->
    {% include 'blog/layout/header.html' %}
    <!-- end header -->
    <div class="widewrapper main">
        <div class="container">
            <div class="row">
                <div class="col-md-8 blog-main" style="min-height:400px;">
                    {% include 'shared/message.html' %}
                    {% if category %}<h3>{{ category.name }}</h3>{% endif %}
                    {% block main %}{% endblock %}
                </div>
                <aside class="col-md-4 blog-aside">
                    <div class="aside-widget">
                        <header>
                            <h3>{{_('Post''s Stamper')}}</h3>
                        </header>
                        <div class="body">
                            <ul class="tales-list">
                                <li><a href="{{ url_for('create_stamp') }}">{{ _('Write') }}</a></li>
                            </ul>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </div>

    <!-- footer -->
    {% include 'blog/layout/footer.html' %}
    <!-- end footer -->
    <script src="/static/js/jquery-1.9.1.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/blog/js/vendor/modernizr/modernizr.js"></script>
    <script src="/static/js/jquery_ujs.js"></script>
    <script src="/static/js/main.js"></script>
    {% block custom_js %}{% endblock %}
</body>
</html>
