    <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="icon-cog"></i>Statistics</h3>

                        <div class="stats">
                            <div class="line">
                                <span class="counter">0</span>
                                <span class="caption">Articles</span>
                            </div>
                            <div class="line">
                                <span class="counter">0</span>
                                <span class="caption">Comments</span>
                            </div>
                            <div class="line">
                                <span class="counter">0</span>
                                <span class="caption">Authors</span>
                            </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
            <div class="container">
                @2013 Pigeon Inc
            </div>
        </div>
    </footer>