    <footer>
        <div class="widewrapper footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 footer-widget">
                        <h3> <i class="icon-cog"></i>{{_('Statistics')}}</h3>
                        <div class="stats">
                            <div class="line">
                                <span class="counter">{{g.user_count}}</span>
                                <span class="caption">{{_('Authors')}}</span>
                            </div>
                            <div class="line">
                                <span class="counter">{{g.post_count}}</span>
                                <span class="caption">{{_('Posts')}}</span>
                            </div>
                            <div class="line">
                                <span class="counter">{{g.comment_count}}</span>
                                <span class="caption">{{_('Comments')}}</span>
                            </div>                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="widewrapper copyright">
            <div class="container">
                @2013 Pigeon Inc - Articles and Images from <a href="http://www.space.com/" target="_blank"><strong>Space and NASA News</strong></a>
            </div>
        </div>
    </footer>