    <header>
        <div class="widewrapper masthead">
            <div class="container">
                <a href="{{url_for('index')}}" id="logo">
                    <img src="/static/logo.png" alt="Pigeon Blog">
                </a>

                <div id="mobile-nav-toggle" class="pull-right">
                    <a href="#" data-toggle="collapse" data-target=".tales-nav .navbar-collapse">
                        <i class="icon-reorder"></i>
                    </a>
                </div>

                <nav class="pull-right tales-nav">
                    <div class="collapse navbar-collapse">
                        <ul class="nav nav-pills navbar-nav">
                            {% if g.user.is_authenticated() %}
                            <li>
                                <a href="{{url_for('dashboard')}}">Dashboard</a>
                            </li>                            
                            <li>
                                <form role="form" method=post action="{{url_for('users.logout')}}">
                                    {{ g.logoutForm.csrf_token }}
                                    <button type="submit" class="btn btn-danger">Sign Out</button>
                                </form>
                            </li>                                
                            {% else %}
                            <li>
                                <a href="{{url_for('users.login')}}">Login</a>
                            </li>
                            <li>
                                <a href="{{url_for('users.signup')}}">Signup</a>
                            </li>                                   
                            {% endif %}                            
                     
                        </ul>
                    </div>
                </nav>        

            </div>
        </div>

        <div class="widewrapper subheader">
            <div class="container">
                <div class="tales-breadcrumb">
                    <a href="{{url_for('index')}}">Home</a>
                    <!--
                    <span class="separator">&#x2F;</span>
                    <a href="#">Starter</a>
                    <span class="separator">&#x2F;</span>
                    <a href="#">Starter Page</a>
                    -->
                </div>
                <!--
                <div class="tales-searchbox">
                    <form action="#" method="get" accept-charset="utf-8">
                        <button class="searchbutton" type="submit">
                            <i class="icon-search"></i>
                        </button>
                        <input class="searchfield" id="searchbox" type="text" placeholder="Search">
                    </form>
                </div>
                -->
            </div>
        </div>
    </header>