<!DOCTYPE html>
<html lang="en">
    {% include 'shared/meta.html' %}
    {% block meta_extra %}{% endblock %}
    <!-- main template file -->
    <link rel="stylesheet" href="/static/theme/headsup/stylesheets/main.css"/>
    <link rel="stylesheet" href="/static/theme/headsup/stylesheets/custom.css"/>
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <meta content="authenticity_token" name="csrf-param">
    <meta name="csrf-token" content="{{ csrf_token() }}">
</head>
<body>
    <!-- header -->
    {% include 'blog/layout/header.html' %}
    <!-- end header -->
    {% block container %}
    <div class="container container-wrap">
      <div class="row">
        {% block wide_container %}
        <div class="col-xs-12  col-md-8">{% block content %}{% endblock %}</div>
        <div class="col-xs-12  col-md-4">{% block sidebar %}{% endblock %}</div>
        {% endblock %}
      </div>
    </div>
    {% endblock %}
    <!-- footer -->
    {% include 'blog/layout/footer.html' %}
    <!-- end footer -->
    <!-- Google Fonts -->
    <script type='text/javascript' src="//ajax.googleapis.com/ajax/libs/webfont/1/webfont.js" charset="utf-8"></script>
    <!-- end Google Fonts -->
    <!-- HU Scripts -->
    <script type='text/javascript' src="/static/theme/headsup/js/main.js" charset="utf-8"></script>
    {% block custom_js %}{% endblock %}
    <!-- end HU Scripts -->
</body>
</html>
