{% from "shared/_bootstrap_forms.html" import render_inline_field %}
{% set url_form = url_for('PostsView:put', id=post.id) if post else url_for('PostsView:post') %}
{% set cover_picture = post.cover_picture if post and post.cover_picture else None %}
<form action="{{ url_form }}" method="POST" name="postForm" autocomplete="off" enctype = "multipart/form-data">
    {{ form.hidden_tag() }}
		<div class="cover-picture{{ ' with-picture' if cover_picture else ' without-picture' }}" style="background-image:url({{ cover_picture.image_url if cover_picture }})">
			<div class="cover-picture-edit-menu">
          <span class="update"><i class="glyphicon glyphicon-refresh"></i></span>
          <span class="delete"><i class="glyphicon glyphicon-remove"></i></span>
			</div>
			<div class="cover-picture-edit-button">
				<span class="upload">{{ _('Click here to upload a new cover picture') }}</span>
			</div>
    </div>
    <div class="upload-file-container">
      <input type=file name=file accept="image/x-png, image/gif, image/jpeg">
	  {{ render_inline_field(form.cover_picture_id) }}
	</div>
    {{ render_inline_field(form.title, class="form-control", placeholder=_('Best description of your post (30 words)')) }}
    {{ render_inline_field(form.body, id="txt_challenge", placeholder=_('Description of what you had to cope with (150 words)'), rows="8", style="width:100%; padding: 8px;") }}
    {{ render_inline_field(form.extra_body, id="txt_solution", placeholder=_('Description of what you had to cope with (150 words)'), rows="8", style="width:100%; padding: 8px;") }}
    {{ render_inline_field(form.category_id, class="form-control") }}
    <div class="checkbox">
  		<label>{{ form.remain()|safe }} {{ _('Keep working on the stamp') }}</label>
      <label style="float:right">{{ form.anonymous()|safe }} {{ _('Make this Post Anonymous') }}</label>
  	</div>
    <div class="actions clearfix">
    	<input type="submit" value="{{ _('Save') }}" class="btn btn-large btn-primary pull-right">
      <input id="btn_editor_clear" type="reset" value="{{ _('Clear') }}" class="btn btn-large btn-danger">
    </div>
</form>
