{% from "shared/_bootstrap_forms.html" import render_inline_field %}
<form action="{{url_for('PostsView:post_1')}}" method="post" name="AddPost" autocomplete="off">
    {{form.hidden_tag()}}
    {{ render_inline_field(form.title, class="form-control",placeholder="Insert title") }}
    {{ render_inline_field(form.image_url, class="form-control",placeholder="Insert URL of Featured Image") }}
    {{ render_inline_field(form.body,id="txt_editor_area",placeholder="Compose new post...", rows="15") }}
    <div class="actions clearfix">
    	<input type="submit" value="Save" class="btn btn-large btn-primary pull-right">
        <input id="btn_editor_clear" type="reset" value="Clear" class="btn btn-large btn-danger">
    </div>
</form>
