<div class="pop-dialog full">
	<div class="body">
		<div class="settings">
			<div class="items">
				{% if request.endpoint.startswith('PostsView:index') %}
				<div class="item">
					<a href="{{ url_for('PostsView:post') }}">
						<i class="glyphicon glyphicon-plus"></i>
						{{ _('New Stamp') }}
					</a>
				</div>
				{% else %}
				<div class="item">
					<a href="{{ url_for('PostsView:index') }}">
						<i class="glyphicon glyphicon-list"></i>
						{{ _('Stamps') }}
					</a>
				</div>
				{% endif %}
				<div class="item">
					<a href="{{ url_for('PostsView:draft_list') }}">
						<i class="glyphicon glyphicon-list"></i>
						{{ _('Drafts') }}
					</a>
				</div>
				{% if request.endpoint.startswith('PostsView:put') %}
				<div class="item">
					<a href="{{ url_for('PostsView:get', id = post.id) }}">
						<i class="glyphicon glyphicon-eye-open"></i>
						{{ _('Show Stamp') }}
					</a>
				</div>
				{% if post.can_edit() %}
				<div class="item">
					<a href="{{ url_for('PostsView:delete', id = post.id) }}" data-method="post" data-confirm="This will remove '{{ post.title }}'?">
						<i class="glyphicon glyphicon-trash"></i>
						{{ _('Delete Stamp') }}
					</a>
				</div>
				{% endif %}
				<div class="item">
					<a href="{{ url_for('PostsView:post') }}">
						<i class="glyphicon glyphicon-plus"></i>
						{{ _('New Stamp') }}
					</a>
				</div>
				{% endif %} {% if request.endpoint.startswith('PostsView:get') %} {% if post.can_edit() %}
				<div class="item">
					<a href="{{ url_for('PostsView:put', id = post.id) }}">
						<i class="glyphicon glyphicon-edit"></i>
						{{ _('Edit Stamp') }}
					</a>
				</div>
				<div class="item">
					<i class="glyphicon glyphicon-trash"></i>
					<a href="{{ url_for('PostsView:delete', id = post.id) }}" data-method="post" data-confirm="This will remove '{{ post.title }}'?">{{ _('Delete Stamp') }}</a>
				</div>
				{% endif %}
				<div class="item">
					<i class="glyphicon glyphicon-plus"></i>
					<a href="{{ url_for('PostsView:post') }}">{{ _('New Stamp') }}</a>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>
