{% extends "admin/layout/base.html" %}
{% set title = _('Edit Stamp') %}

{% block main %}
	<div id="page-title" class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h4>
				{{ _('Edit Stamp') if post else _('New Stamp') }}
				{% if post and post.is_draft %}
				<span class="label label-danger">
					{{ _('Draft') }}
				</span>
				{% endif %}
			</h4>
		</div>
	</div>
	<div class="row">
		<div class="col-md-9 col-sm-12 col-xs-12">
			<div class="well">
				{% include 'admin/posts/partials/_post_form_edit.html' %}
			</div>
		</div>
		<div class="col-md-3 col-sm-12 col-xs-12">
			{% include 'admin/posts/partials/_sidebar.html' %}
		</div>
	</div>
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_js %}
	<script src="//cdn.ckeditor.com/4.7.0/standard-all/ckeditor.js"></script>
{% endblock %}
