{% extends "admin/admin.html" %}
{% block custom_css %}
    <link rel="stylesheet" href="/static/admin/css/compiled/index.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/static/admin/css/compiled/ui-elements.css" type="text/css" media="screen">
{% endblock %}
{% block custom_js %}
    <script src="/static/ckeditor/ckeditor.js"></script>
    <script src="/static/ckeditor/adapters/jquery.js"></script>
    <script src="/static/js/editor_loader.js"></script>
{% endblock %}
{% block main %}
    <div class="row head">
        <div class="col-md-12">
            <h3>{{ title }}</h3>
        </div>
    </div>
    <br/>
	<div class="row">
	    <div class="col-md-9">	    	
	    	<div class="well">
	    		{% include 'admin/posts/_post_form_edit.html' %}
	    	</div>
	    </div>
	    <div class="col-md-3">
	    	{% include 'admin/posts/_sidebar.html' %}
	    </div>		    
	</div>
{% endblock %}