{% extends "admin/layout/base.html" %}
{% set title = post.title if post else _('POST_CREATE') %}

{% block main %}
	<div id="page-title" class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h4>
				{{ title }}

				{% if post and post.category %}
				<span>({{ post.category.name }})</span>
				{% endif %}

				{% if post and post.is_draft %}
				<span class="btn-lock badge label-danger" data-toggle="tooltip" title="{{ _('POST_STATUS_DRAFT_LABEL') }}">
					<i class="glyphicon glyphicon-lock"></i>
				</span>
				{% endif %}
			</h4>
		</div>
	</div>
	<div id="page-content" class="row">
		<div class="col-sm-9 col-md-9 col-xs-12">
			<div class="well">
				{% include 'admin/posts/partials/_post_edit.html' %}
			</div>
		</div>
		<div class="col-sm-3 col-md-3 col-xs-12 col-sidebar-container">
			<div class="col-sidebar">
				{% include 'admin/posts/partials/_sidebar.html' %}
			</div>
		</div>
	</div>
{% endblock %}

{% block custom_css %}
{% endblock %}

{% block custom_js %}
	<script src="//cdn.ckeditor.com/4.7.3/standard-all/ckeditor.js"></script>
{% endblock %}
