{% extends "admin/layout/base.html" %}
{% set title = post.title %}

{% block main %}
	<div id="page-title" class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<h4>
				{{ title }}

				{% if post.category %}
				<span>({{ post.category.name }})</span>
				{% endif %}

				{% if post.is_draft %}
				<span class="btn-lock badge label-danger" data-toggle="tooltip" title="{{ _('POST_STATUS_DRAFT_LABEL') }}">
					<i class="glyphicon glyphicon-lock"></i>
				</span>
				{% endif %}
			</h4>
		</div>
	</div>
	<div id="page-content" class="row">
		<div class="col-sm-9 col-md-9 col-xs-12">
			<div class="panel panel-primary">
				<div class="panel-body">
					{% if post.cover_picture %}
					<div class="img-post" style="background-image:url({{ post.cover_picture.image_url }})"></div>
					{% endif %}
					<div class="row">
						<div class="col-md-12">
							<p><strong>{{ post.body|nl2br|safe }}</strong></p>
							<div class="post-body">
							{% if post.editor_version %}
								{{ post.extra_body|safe }}
							{% else %}
								{{ post.extra_body|nl2br|safe }}
							{% endif %}
							</div>
						</div>
					</div>
				</div>
				<div class="panel-footer">
					<div>
						<div class="pull-right">
							<strong>{{ post.created_at | humanformat }}</strong>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
		<div class="col-sm-3 col-md-3 col-xs-12 col-sidebar-container">
			<div class="col-sidebar">
				{% include 'admin/posts/partials/_sidebar.html' %}
			</div>
		</div>
	</div>
{% endblock %}
