{% from "shared/_bootstrap_forms.html" import render_inline_field %}

{% set url_form = url_for('PostsView:put', id=post.id) if post else url_for('PostsView:post') %}
{% set cover_picture = post.cover_picture if post and post.cover_picture else None %}

<form id="form-editor" action="{{ url_form }}" method="POST" name="postForm" autocomplete="off" enctype = "multipart/form-data" data-language="{{ language }}">
	<div class="cover-picture{{ ' with-picture' if cover_picture else ' without-picture' }}" style="background-image:url({{ cover_picture.image_url if cover_picture }})">
		<div class="cover-picture-edit-menu">
			<span class="update"><i class="glyphicon glyphicon-refresh"></i></span>
			<span class="delete" data-target="#cover_picture_id"><i class="glyphicon glyphicon-remove"></i></span>
		</div>
		<div class="cover-picture-edit-button">
			<span class="upload">{{ _('BTN_UPLOAD_COVER_PICTURE_LBL') }}</span>
		</div>
	</div>

	<div class="upload-file-container">
		<input type=file name=file accept="image/x-png, image/jpeg">
	</div>

	{{ render_inline_field(form.category_id, class="form-control") }}
	{{ render_inline_field(form.title, class="form-control", placeholder=_('FRM_INPUT_TITLE_DESCRIPTION')) }}
	{{ render_inline_field(form.body, class="form-control", placeholder=_('FRM_INPUT_CHALLENGE_DESCRIPTION'), rows="8") }}
	{{ render_inline_field(form.extra_body, placeholder=_('FRM_INPUT_SOLUTION_DESCRIPTION')) }}
	{{ render_inline_field(form.lang, class="form-control") }}
	{{ render_inline_field(form.cover_picture_id) }}
	{{ render_inline_field(form.editor_version) }}

	<div class="checkbox clearfix">
		<label class="pull-right">{{ form.anonymous()|safe }} {{ _('CB_ANONYMOUS_LBL') }}</label>
	</div>

	{{ render_inline_field(form.status, class="form-control") }}

	<div class="actions clearfix">
		<a href="javascripts:void();" class="btn-save btn btn-primary btn-lg pull-right">{{ _('BTN_SAVE_LBL') }}</a>
	</div>
	{{ form.hidden_tag() }}
</form>

<script type="text/javascript">
	window.page_translations = {
		'ERROR_STAMP_TITLE_EMPTY': "{{ _('ERROR_STAMP_TITLE_EMPTY') }}",
		'ERROR_STAMP_CHALLENGE_EMPTY': "{{ _('ERROR_STAMP_CHALLENGE_EMPTY') }}",
		'ERROR_STAMP_SOLUTION_EMPTY': "{{ _('ERROR_STAMP_SOLUTION_EMPTY') }}"
	};
</script>
