<div class="panel panel-primary">
	<div class="panel-heading clearfix">
		<div class="row">
			<div class="col-md-11 col-sm-11 col-xs-10">
				<h3 class="panel-title">
					<a href="{{ url_for('PostsView:get', id=post.id) }}">
						{{ post.title | truncate(80) }}

						{% if post.category %}
						<span>({{ post.category.name }})</span>
						{% endif %}

						{% if post.is_draft %}
						<span class="btn-lock badge label-danger" data-toggle="tooltip" title="{{ _('POST_STATUS_DRAFT_LABEL') }}">
							<i class="glyphicon glyphicon-lock"></i>
						</span>
						{% endif %}
					</a>
				</h3>
			</div>
			<div class="col-md-1 col-sm-1 col-xs-2">
				<div class="pull-right">
					<div class="btn-group" role="group">
						{% if post.can_edit() %}
						<a href="{{ url_for('PostsView:put', id=post.id) }}" class="btn btn-success btn-xs pull-right">
							<i class="glyphicon glyphicon-edit"></i>
						</a>
						{% endif %}
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="panel-body">
		{% if post.cover_picture %}
		<div class="img-post" style="background-image:url({{ post.cover_picture.image_url }})"></div>
		{% endif %}
		<div class="row">
			<div class="col-md-12">
				<p><strong>{{ post.body|safe }}</strong></p>
				{{ post.extra_body|htmltruncate(500)|safe }}
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div>
			{% if post.can_edit() %}
			<a href="{{ url_for('PostsView:delete', id=post.id, return=request.path) }}"
				data-method="post"
				rel="nofollow"
				data-confirm="{{ _('POST_DELETE_CONFIRMATION', title=post.title) }}">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
			{% endif %}

			<div class="pull-right">
				<strong>{{ post.created_at | humanformat }}</strong>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
