<div class="panel panel-primary panel-post">
	<div class="panel-heading clearfix">
		<h3 class="panel-title">
			<a href="{{ url_for('PostsView:get', id=post.id) }}">
				{% if post.is_draft %}
				<span class="label label-danger">
					{{ _('Draft') }}
				</span>&nbsp;
				{% endif %}
				{{ post.title }}
				{% if post.category %}<span>({{ post.category.name }})</span>{% endif %}
			</a>
		</h3>
		<div class="pull-right">
			<div class="btn-group" role="group">
				{% if post.can_edit() %}
				<a href="{{ url_for('PostsView:put', id=post.id) }}" class="btn btn-success btn-xs pull-right">
					<i class="glyphicon glyphicon-edit"></i>
				</a>
				{% endif %}
			</div>
		</div>
	</div>
	<div class="panel-body">
		{% if post.cover_picture %}
		<div class="img-post" style="background-image:url({{ post.cover_picture.image_url }})"></div>
		{% endif %}
		<div class="row">
			<div class="col-md-12">
				<p><strong>{{ post.body|safe }}</strong></p>
				{{ post.extra_body|htmltruncate(500)|safe }}
			</div>
		</div>
	</div>
	<div class="panel-footer">
		<div>
			{% if post.can_edit() %}
			<a href="{{ url_for('PostsView:delete', id=post.id, return=request.path) }}" data-method="post" rel="nofollow" data-confirm="{{ _('This will remove \'%(title)s\', Are you sure?', title=post.title) }}">
				<i class="glyphicon glyphicon-trash"></i>
			</a>
			{% endif %}

			<div class="pull-right">
				<strong>{{ post.created_at | humanformat }}</strong>
			</div>
		</div>
		<div class="clearfix"></div>
	</div>
</div>
