<div class="list-group">
	<a href="{{ url_for('PostsView:post') }}" class="list-group-item">
		<i class="glyphicon glyphicon-plus"></i>
		{{ _('NEW_STAMP_LBL') }}
	</a>

	<a href="{{ url_for('PostsView:index') }}" class="list-group-item">
		<i class="glyphicon glyphicon-list"></i>
		{{ _('STAMPS_LBL') }}
	</a>

	<a href="{{ url_for('PostsView:draft_list') }}" class="list-group-item">
		<i class="glyphicon glyphicon-list-alt"></i>
		{{ _('DRAFTS_LBL') }}
	</a>

	{% if post and request.endpoint.startswith('PostsView:put') %}
	<a href="{{ url_for('PostsView:get', id = post.id) }}" class="list-group-item">
		<i class="glyphicon glyphicon-eye-open"></i>
		{{ _('STAMP_SHOW_LBL') }}
	</a>
	{% endif %}

	{% if post and post.can_edit() and request.endpoint.startswith('PostsView:get') %}
	<a href="{{ url_for('PostsView:put', id = post.id) }}" class="list-group-item">
		<i class="glyphicon glyphicon-edit"></i>
		{{ _('STAMP_EDIT_LBL') }}
	</a>
	{% endif %}

	{% if post and post.can_edit() %}
	<a href="{{ url_for('PostsView:delete', id = post.id) }}" class="list-group-item"
		data-method="post"
		data-confirm="{{ _('This will remove %(name)s, Are you sure?', name=post.title) }}">
		<i class="glyphicon glyphicon-trash"></i>
		{{ _('STAMP_REMOVE_LBL') }}
	</a>
	{% endif %}
</div>

{% if request.endpoint.startswith('PostsView:put') or request.endpoint.startswith('PostsView:post') %}
{% from "shared/_bootstrap_forms.html" import render_inline_field %}
<div class="sidebar-edit-post clearfix">
	{{ render_inline_field(form.status, id="sidebar-status", class="form-control") }}
	<button type="button" class="btn-save btn btn-primary btn-block">{{ _('BTN_SAVE_LBL') }}</button>
</div>
{% endif %}
