<div class="list-group">
	<a href="{{ url_for('PostsView:post') }}" class="list-group-item list-group-item-success">
		<i class="glyphicon glyphicon-plus"></i>
		{{ _('POST_CREATE') }}
	</a>

	<a href="{{ url_for('PostsView:index') }}" class="list-group-item">
		<i class="glyphicon glyphicon-list"></i>
		{{ _('POST_LIST') }}
	</a>

	<a href="{{ url_for('PostsView:draft_list') }}" class="list-group-item">
		<i class="glyphicon glyphicon-list-alt"></i>
		{{ _('POST_DRAFT_LIST') }}
	</a>

	{% if post and request.endpoint.startswith('PostsView:put') %}
	<a href="{{ url_for('PostsView:get', id = post.id) }}" class="list-group-item">
		<i class="glyphicon glyphicon-eye-open"></i>
		{{ _('POST_SHOW') }}
	</a>
	{% endif %}

	{% if post and post.can_edit() and request.endpoint.startswith('PostsView:get') %}
	<a href="{{ url_for('PostsView:put', id = post.id) }}" class="list-group-item">
		<i class="glyphicon glyphicon-edit"></i>
		{{ _('POST_EDIT') }}
	</a>
	{% endif %}

	{% if post and post.can_edit() %}
	<a href="{{ url_for('PostsView:delete', id = post.id) }}" class="list-group-item"
		data-method="post"
		data-confirm="{{ _('POST_DELETE_CONFIRMATION', title=post.title) }}">
		<i class="glyphicon glyphicon-trash"></i>
		{{ _('POST_DELETE') }}
	</a>
	{% endif %}
</div>

{% if request.endpoint.startswith('PostsView:put') or request.endpoint.startswith('PostsView:post') %}
{% from "shared/_bootstrap_forms.html" import render_inline_field %}
<div class="sidebar-edit-post clearfix">
	{{ render_inline_field(form.status, id="sidebar-status", class="form-control") }}
	<button type="button" class="btn-save btn btn-primary btn-block">{{ _('BTN_SAVE_LBL') }}</button>
</div>
{% endif %}
