<% _.forEach(stories, function(story, i) { %>
<div class="story-item boxed push-down-20">
	<% if (story.cover_picture) { %>
	<div class="story-cover-picture" style="background-image:url('<%- story.cover_picture.image_url %>')"></div>
	<% } %>

	<div class="story-content">
		<h2 class="story-title"><a href="<%- story.url %>" rel="title"><%- story.title %></a></h2>

		<div class="story-info push-top-20 clearfix">
			<% if (story.user) { %>
			<img src="<%- story.user.profile_picture_url || '/static/images/user.png' %>" alt="<%- story.user.nickname %>" class="thumb">
			<% } else { %>
			<img src="/static/images/user.png" class="thumb" />
			<% } %>
			<ul>
				<li>
					<span>
						<% if (story.user) { %>
							<%- story.user.nickname %>
						<% } else { %>
							<%- 'ANONYMOUS_LBL'.hu_i18n() %>
						<% } %>
					</span>
				</li>
				<% if (story.category) { %>
				<li>
					<a href="<%- story.category.url %>" class="custom-link"><%- story.category.name %></a>
				</li>
				<% } %>
				<li>
					<span class="glyphicon glyphicon-calendar"></span>
					<span><%- story.created_at_fmt %></span>
				</li>
			</ul>
		</div>

		<div class="story-body push-top-20">
			<% if (story.body) { %>
			<h3><%= story.body.hu_striptags().hu_substring(200) %></h3>
			<% } %>
			<p><%= story.extra_body.hu_striptags().hu_substring(400) %></p>
		</div>

		<div class="story-social push-top-20 clearfix">
			<a href="#" class="icon-social upvote"></a>
			<a href="<%- story.url %>#comment-panel" class="icon-social comment"></a>
			<a href="#" class="icon-social share"></a>
		</div>
	</div>
</div>
<% }); %>
