.panel-comment {
	position: relative;
	margin: 0;

	.actions {
		.btn {
			margin-bottom: 0;
		}
	}

	.login-required {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, 0.5);
		border-radius: 4px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		opacity: 0.5;

		.column {
			display: flex;
			justify-content: center;

			p {
				margin: 0;
				color: #fff;
				font-weight: 600;
			}

			.btn {
				padding: 6px 20px;
			}

			.btn + .btn {
				margin-left: 20px;
			}
		}

		.column + .column {
			margin-top: 5px;
		}

		&:hover {
			opacity: 1;
		}
	}
}

.panel-comment-list {
	margin: 0;

	.media-list {
		margin: 0;

		.media-list {
			border-top: 1px solid #f3f4f4;
			margin-top: 15px;
			padding-top: 15px;
			margin-left: 30px;
		}

		.media-top-nested {
			margin-left: 0;
		}
	}

	.media {
		.author {
			width: 100%;
			display: block;
		}

		.reply-wrapper {
			margin-top: 10px;
		}
	}

	.media + .media	{
		border-top: 1px solid #f3f4f4;
		padding-top: 15px;
	}
}

.panel-comment,
.panel-comment-list {
	textarea {
		resize: none;
		overflow: hidden;
		max-height: 300px;
	}
}
