// Default post content, designed for maximum readability
.post-content {
	line-height: 1.65;
	color: $text-color;

	h1.title {
		font-size: 30px;
		margin: 0  0 10px 0;
	}

	h3 {
		font-size: 24px;
		margin-bottom: 20px;
	}

	.post-body {
		h1, h2, h3, h4 {
			margin: 0 0 15px 0;
		}

		p {
			font-size: 16px;
			line-height: 1.5;
			margin: 0;
		}

		p + p {
			margin-top: 15px;
		}

		p + h1, p + h2, p + h3, p + h4 {
			margin-top: 15px;
		}

		ul, ol {
			margin: 3.5% 0;

			ul, ol {
				margin: 1% 0 2% 0;
			}
		}
	}
}

.post-content--front-page {
	// margin-bottom: 30px;

	h2 {
		margin-bottom: 10px;
	}

	h3 {
		font-size: 24px;
		margin-bottom: 20px;
	}

	p {
		font-size: 16px;
	}
}
