// Sidebar
.sidebar {
  padding: 30px 0 0 0;

  p {
    line-height: 1.5;
    color: #9a9a90;
    font-size: 14px;
    font-family: $tertiary-font;
  }

  h6 {
    margin-bottom: 12px;
  }

  img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
  }
}