// Widgets
// Widget author
.widget-author {
	padding: 0 0 15px 0;
	overflow: hidden;

	h4 {
		margin-bottom: 10px;
		text-align: center;
	}

	p {
		color: #9a9a90;
		line-height: 1.5;
		font-size: 14px;
		margin-bottom: 30px;
		font-family: $secondary-font;
	}

	.actions {
		padding: 0 15px;
		text-align: center;
		.btn {
			margin: 0;
		}

		.btn + .btn {
			margin-left: 10px;
		}
	}

}

.widget-author__image-container {
	position: relative;
	margin-bottom: 45px;
	@media (min-width: $screen-sm-min) {
		margin-bottom: 20px;
	}
}

.widget-author__avatar {
	position: absolute;
	left: 50%;
	margin-left: -45px;
	bottom: -45px;
	box-shadow: 0 0 0 8px #fff;
	border-radius: 50%;
	z-index: 2;
	background-color: #fff;
}

.widget-author__avatar--blurred {
	overflow: hidden;
	height: 125px;

	&:before {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		content: "";
		background: rgba(0,0,0,0.5);
		z-index: 1;
	}

	> img {
		width: 100%;
		height: auto;
		filter: blur(5px);
		filter: url('#{$base-path}/images/blur.svg#blur');
		transform: scale(1.05);
		margin-top: -20%;
	}
}

.widget-author__content {
	text-align: left;
	@media (min-width: $screen-sm-min) {
		margin-bottom: 45px;
	}

	p {
		font-family: $primary-font;
		font-size: 18px;
		color: #40454a;
	}

	h4 {
		margin: -20px 0 15px;
		@media (min-width: $screen-sm-min) {
			margin: 25px 0 30px;
		}
	}
}
// Widget featured post
.widget-featured-post {
	h4 {
		margin: 9px 0 3px;
	}

	p {
		color: #9a9a90;
		line-height: 1.5;
		font-size: 14px;
		margin-bottom: 30px;
		font-family: $secondary-font;
	}

	img {
		border-radius: 3px;
	}
}
// Widget categories
.widget-categories {
	font-family: $tertiary-font;
	font-size: 14px;
	font-weight: bold;

	ul {
		list-style: none;
		padding: 0;
		background-color: #f3f4f4;
		border: 1px solid #dfe2e4;
		border-radius: 3px;

		li {
			position: relative;

			a {
				transition: $primary-transition;
				padding: 15px 20px;
				width: 100%;
				display: inline-block;
				border-bottom: 1px solid #dfe2e4;

				&:after {
					transition: $primary-transition;
					position: absolute;
					content: "\e080";
					font-family: "Glyphicons Halflings";
					font-weight: 400;
					color: #c6c7c2;
					right: 20px;
				}

				&:hover {
					&:after {
						color: #9a9a90;
					}
				}
			}

			&:last-child {
				a {
					border-bottom: none;
				}
			}
		}
	}

	.widget-categories__text {
		color: #9a9a90;
	}
}
// Widget posts
.widget-posts {
	font-family: $tertiary-font;
	font-weight: 700;

	.nav-tabs {
		border: 1px solid #e0e0e0;
		border-radius: 3px;
		margin-bottom: 20px;

		> li {
			border-right: 1px solid #e0e0e0;
			width: 50%;
			text-align: center;
			box-shadow: 0 1px 1px -1px #e0e0e0;

			&.active,
			&:hover {
				box-shadow: 0 0 3px #e0e0e0 inset;

				> a {
					color: $primary-color;
					background-color: #f8f9fa;
					border: none;
					margin: 1px;
				}
			}

			&:last-child {
				border-right: none;
			}

			a {
				color: #9a9a90;
				margin: 0;

				&:hover {
					color: $primary-color;
					background: #f8f9fa;
					border: none;
					margin: 1px;
				}
			}
		}
	}

	img {
		float: left;
		margin-right: 15px;
		border-radius: 3px;
	}

	h5 {
		font-size: 14px;
		font-family: $secondary-font;
		line-height: 1.3;
		margin-top: 0;
		margin-bottom: 10px;
	}

	.widget-posts__time {
		font-family: $tertiary-font;
		color: #9a9a90;
	}
}
// Widget recent comments
.widget-recent-comments {
	ul {
		list-style: none;
		padding: 0;
		color: #9a9a90;
		font-family: $tertiary-font;
		font-weight: 700;

		li {
			border-top: 1px solid #e0e0e0;
			padding: 10px 0;

			a {
				font-family: $secondary-font;
				border: none;
			}
		}
	}
}
// Widget tags
.widget-tags {
	hr {
		margin-bottom: 15px;
	}
}
// Widget banner
.widget-banner {
	img {
		border-radius: 3px;
		border: 1px solid #e4e4e4;
	}
}
// Facebook widget
#likebox-wrapper * {
	width: 100% !important;
}

.widget-facebook {
	iframe {
		border: none;
		overflow: hidden;
		height: 260px;
	}
}
// Contact widget
.widget-contact {
	hr {
		margin-bottom: 15px;
	}
}

.widget-contact__title {
	font-family: $tertiary-font;
	color: $primary-color;
}

.widget-contact__text {
	font-family: $secondary-font;
	font-size: 14px;
	color: #9a9a90;
}
// Navigation widget
.widget-navigation {
	hr {
		margin-bottom: 15px;
	}

	.navigation {
		li {
			float: none;

			a {
				font-weight: 400;
				color: $primary-color;
				padding: 5px 0;
				text-transform: none;
				border: none;
				font-family: $tertiary-font;
				font-size: 14px;

				&:hover {
					color: darken($primary-color, 10);
				}

				&:after {
					display: none;
				}
			}
		}
	}
}

.widget-title-box {
	margin: 0 0 15px;
	background-color: #fff;
	border: 1px solid #e4e4e4;
	border-radius: 6px;
	padding: 10px 30px;
}
