{% extends "main/layout/base.html" %}
{% set title = _('CATEGORY_LIST_TITLE', category=category.get_lang_name_or_default(language)) %}
{% set description = category.get_lang_description_or_default(language) %}

{% block meta_extra %}
	{% if config.FB_APPID %}
	<meta property="fb:app_id" content="{{ config.FB_APPID }}" />
	{% endif %}
	<meta property="og:type" content="blog" />
	<meta property="og:url" content="{{ url_for('story.category', slug=category.slug, page=page if page > 1 else None, _external=true) }}" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ description }}">
{% endblock %}

{% block lead_in %}
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div id="lead-in-wrapper">
			<div class="boxed lead-in push-down-20">
				<h1 class="title">
					{{ category.get_lang_name_or_default(language) }}
				</h1>
				<div class="description">{{ category.get_lang_description_or_default(language) }}</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block content %}
	{{ widget('story_list', category_id=category.id) }}
{% endblock %}

{% block sidebar %}
	{% include 'main/common/_sidebar_user.html' %}
{% endblock %}
