{% extends "main/layout/base.html" %}
{% set title = post.title %}
{% set description = post.extra_body | striptags | limit(300) %}

{% from "shared/macros/_bootstrap.html" import render_inline_field %}

{% block meta_extra %}
	<link rel="canonical" href="{{ url_for('story.show', id=post.id, _external=true) | replace_host_name }}">
	{% if config.FB_APPID %}
	<meta property="fb:app_id" content="{{ config.FB_APPID }}" />
	{% endif %}
	<meta property="og:type" content="article" />
	<meta property="og:url" content="{{ url_for('story.show', id=post.id, _external=true) | replace_host_name }}" />
	<meta property="og:title" content="{{ title }}" />
	<meta property="og:description" content="{{ description }}">
	{% if post.cover_picture %}
	<meta property="og:image" content="{{ url_for('pictures', name=post.cover_picture.name, _external=true) }}" />
	{% else %}
	<meta property="og:image" content="{{ url_for('static', filename='images/lp/home/screen-bg_1.jpg', _external=true) }}" />
	{% endif %}
	<meta property="hu:story:user" content="{{ post.user_id }}" />
	<meta property="hu:story:edit:url" content="{{ url_for('story.edit', id=post.id) }}" />
{% endblock %}

{% block content %}
	<div id="story-show-page" class="story-single">
		{% include 'main/stories/partials/_post_story.html'%}
	</div>

	<div id="comment-panel" class="row push-down-20">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<form action="{{ url_for('story.comment_new', id=post.id) }}" method="post" autocomplete="off">
				<div class="panel panel-default panel-comment">
					<div class="panel-body">
						{{ render_inline_field(form.text, class="form-control", placeholder=_('COMMENT_TEXT_PLACEHOLDER')) }}
						<div class="actions clearfix">
							<button type="submit" class="btn btn-primary btn-primary--transparent btn-lg pull-right">
								{{ _('COMMENT_SUBMIT_BTN') }}
							</button>
						</div>
					</div>
					{% if not current_user.is_authenticated %}
					<div class="login-required">
						<div class="column">
							<a href="{{ url_for('sessions.login', ret=url_for('story.show', id=post.id, _anchor='comment-box')) }}" rel="nofollow" class="btn btn-primary">
								{{ _('LOGIN_BTN') }}
							</a>
							<a href="{{ url_for('sessions.signup', ret=url_for('story.show', id=post.id, _anchor='comment-box')) }}" rel="nofollow" class="btn btn-primary">
								{{ _('REGISTER_BTN') }}
							</a>
						</div>
					</div>
					{% endif %}
				</div>
				{{ form.hidden_tag() }}
			</form>
		</div>
	</div>

	{% if post.comments.count() %}
	<div class="row push-down-20">
		<div class="col-md-12 col-sm-12 col-xs-12">
			<div class="panel panel-comment-list">
				<div class="panel-body">
					<ul class="media-list">
						{% for comment in post.comment_list recursive %}
						<li id="comment-{{ comment.id }}" class="media">
							<div class="media-left">
								<a href="javascript:;">
									<img class="media-object"
										src="{{ comment.user.profile_picture_url or '/static/images/user.png' }}"
										alt="{{ comment.user.nickname }}"
										width="64" height="64">
								</a>
							</div>
							<div class="media-body">
								<span class="author"><strong>{{ comment.user.nickname }}</strong></span>
								<span class="date text-muted">{{ comment.created_at|datetimeformat('DATE') }}</span>
								<div class="text">
									{{ comment.text | nl2br }}
								</div>
								<div class="media-footer clearfix">
									{% if comment.can_delete %}
									<a href="{{ url_for('story.comment_delete', id=comment.id) }}" class="link comment-delete pull-left"
										data-method="post"
										data-confirm="{{ _('COMMENT_DELETE_CONFIRMATION', text=comment.text|truncate(20)) }}">
										<i class="glyphicon glyphicon-trash"></i>
									</a>
									{% endif %}
									{% if current_user.is_authenticated %}
									<a href="javascript:;" class="link comment-reply pull-right" data-comment-id="{{ comment.id }}">
										{{ _('COMMENT_REPLY_LBL') }}
									</a>
									{% endif %}
								</div>
							</div>
							{% if comment.children -%}
							<ul class="media-list {{ 'media-top-nested' if loop.depth > 5 }}">
								{{ loop(comment.children) }}
							</ul>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
	{% endif %}

	{% include 'main/stories/partials/_counter.html' %}
{% endblock %}

{% block sidebar %}
	{% include 'main/common/_sidebar_user.html' %}
{% endblock %}

{% block after_script %}
	<script id="reply-template" type="text/template">
		<div class="reply-wrapper">
			<form action="{{ url_for('story.comment_new', id=post.id) }}" method="post" autocomplete="off">
				<div class="panel-reply">
					{{ render_inline_field(form.text, class="form-control", placeholder=_('COMMENT_REPLY_TEXT_PLACEHOLDER'), rows="1") }}
					<div class="actions clearfix">
						<button type="submit" class="comment-cancel-btn btn btn-danger btn-danger--transparent btn-lg pull-left">
							{{ _('COMMENT_REPLY_CANCEL_BTN') }}
						</button>
						<button type="submit" class="comment-submit-btn btn btn-primary btn-primary--transparent btn-lg pull-right">
							{{ _('COMMENT_REPLY_SUBMIT_BTN') }}
						</button>
					</div>
				</div>
				{{ form.hidden_tag() }}
			</form>
		</div>
	</script>
	{% if config.ADDTHIS_LINK_STAMP %}
	<script type="text/javascript" src="{{ config.ADDTHIS_LINK_STAMP }}"></script>
	{% endif %}

	{% if config.IFRAMELY %}
	<script charset="utf-8" src="//cdn.iframe.ly/embed.js?api_key={{ config.IFRAMELY }}"></script>
	{% endif %}
{% endblock %}
