<!-- Cookie Consent by https://www.TermsFeed.com -->
<script type="text/javascript" src="//www.termsfeed.com/cookie-consent/releases/3.0.0/cookie-consent.js"></script>
<script type="text/javascript">
	document.addEventListener('DOMContentLoaded', function () {
		cookieconsent.run({
			'notice_banner_type': 'interstitial',
			'consent_type': 'implied',
			'palette': 'dark',
			'change_preferences_selector': '#changePreferences',
			'language': '{{ language }}',
			'website_name': 'HeadUP',
			'cookies_policy_url': '{{ url_for('privacy_policy', _external=True) }}'
		});
	});
</script>
<noscript>Cookie Consent by <a href="https://www.termsfeed.com/">TermsFeed</a></noscript>
<!-- End Cookie Consent -->

{% set domains = config.GA_TRACKINGS | ga_autolinks  %}
{% if config.GA_TRACKING_ID and domains %}
	<script cookie-consent="tracking">
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', '{{ config.GA_TRACKING_ID }}', 'auto', {'allowLinker': true});
		ga('require', 'linker');
		ga('linker:autoLink', [{{ domains | safe }}] );
		ga('send', 'pageview');
	</script>
{% endif %}

{% if config.GTAG_ID %}
<!-- Global site tag (gtag.js) - Google Ads: 779054283 -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ config.GTAG_ID }}" cookie-consent="targeting"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	var gtag = window.gtag = function(){dataLayer.push(arguments);}
	gtag('js', new Date());
	gtag('config', '{{ config.GTAG_ID }}');
</script>
<meta name="gtag-token" content="{{ config.GTAG_SIGNUP_CONVERSION_ID }}">
{% endif %}

{% if config.FB_PIXEL_ID %}
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '{{ config.FB_PIXEL_ID }}');
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1"
src="https://www.facebook.com/tr?id={{ config.FB_PIXEL_ID }}&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->
{% endif %}
