{% extends "main/layout/blank.html" %}

{% block head %}
<style media="screen">
	body {
		padding: 0px;
		margin: 0px;
		background-color: #1E1F18;
		background-image: url('/static/images/lp/campaign/53ad6a41cdff6.png');
	}
</style>
<script type='text/javascript' src='http://ajax.googleapis.com/ajax/libs/jquery/1.6.0/jquery.min.js'></script>
<script type='text/javascript'>
	$(document).ready(function() {
		$('#Content').children().each(function() {
			//alert($(this).attr('id'));
			$(this).css('cursor', 'default');
		});
		$('.hotbox').css('cursor', 'pointer');
		$('.hotbox').css('background-color', 'transparent');

		$('.button').css('cursor', 'pointer');
	});
</script>
<link href="http://fonts.googleapis.com/css?family=Oswald|Lobster|Pacifico|Alfa+Slab+One|Just+Me+Again+Down+Here|Abril+Fatface" rel="stylesheet">
{% endblock %}

{% block page %}
<div style='width:100%; height:20px;'></div>

<div id='Header' style='position:absolute; width:100%; top:0px; height:0px; background-color:#;'></div>
<div id='Content' style=' position:relative; overflow:hidden; background-color:#FFFFFF; margin-left:auto; margin-right:auto; width:1000px;height:1462px;box-shadow: ; border:1px #080000 None; '>
	<div class="widget ui-draggable ui-resizable animatedBorder" id="clipartdiv-6356" style="left: 417px; top: 679px; width: 35px; height: 32px; overflow: hidden; position: absolute; z-index: 10; cursor: move;"><a id="cliplink-6356" href="http://headup.space/" target="_blank"><img border="0"  class="Picture" id="clipart-6356" style="width: 35px; height: 32px;" src="http://www.squeezematic.com/members/Clipart//arrow-blue.png"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
		<div class="animatedBorderSprite animatedBorderSprite-top" style="left: -1px; top: -1px; width: 37px; height: 1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite animatedBorderSprite-bottom" style="left: -1px; width: 37px; height: 1px; bottom: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="left: -1px; top: 0px; width: 1px; height: 32px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="top: 0px; width: 1px; height: 32px; right: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
	</div>
	<div class="widget ui-draggable ui-resizable animatedBorder" id="image-9038" style="left: 0px; top: 0px; width: 1003px; height: 532px; overflow: hidden; position: absolute; z-index: 0; cursor: move;"><a id="link-9038" href="#" onclick="return false;" style="cursor:default;" target="_top"><img border="0"  class="Picture" id="picture-9038" style="width: 1003px; height: 532px;" src="/static/images/lp/campaign/59444715a90741497646869.jpg"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
		<div class="animatedBorderSprite animatedBorderSprite-top" style="left: -1px; top: -1px; width: 1005px; height: 1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite animatedBorderSprite-bottom" style="left: -1px; width: 1005px; height: 1px; bottom: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="left: -1px; top: 0px; width: 1px; height: 532px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="top: 0px; width: 1px; height: 532px; right: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
	</div>
	<div class="widget ui-draggable ui-resizable animatedBorder" id="text-4266" style='left: 45px; top: 191px; width: 451px; height: 44px; color: rgb(0, 0, 0); overflow: hidden; font-family: "Alfa Slab One"; position: absolute; z-index: 10; cursor: move;'>
		<div id="innerText-4266" style="font-size: 30px;" width="451px" height="44px">Your</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
		<div class="animatedBorderSprite animatedBorderSprite-top" style="left: -1px; top: -1px; width: 453px; height: 1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite animatedBorderSprite-bottom" style="left: -1px; width: 453px; height: 1px; bottom: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="left: -1px; top: 0px; width: 1px; height: 44px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="top: 0px; width: 1px; height: 44px; right: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
	</div>
	<div class="widget ui-draggable ui-resizable animatedBorder" id="text-3691" style='left: 55px; top: 244px; width: 420px; height: 115px; color: rgb(0, 0, 0); overflow: hidden; font-family: "Alfa Slab One"; position: absolute; z-index: 10; cursor: move;'>
		<div id="innerText-3691" style="font-size: 14px;" width="420px" height="115px">Tell the World &amp; Beyond how you keep or kept your "head UP".
			<br>How ? By sharing your "Challenge &amp; Solution" story [positive or fun experience, personal achievement, remarkable success, etc.] and reading others’ inspirational stories.<br></div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
		<div class="animatedBorderSprite animatedBorderSprite-top" style="left: -1px; top: -1px; width: 422px; height: 1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite animatedBorderSprite-bottom" style="left: -1px; width: 422px; height: 1px; bottom: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="left: -1px; top: 0px; width: 1px; height: 115px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="top: 0px; width: 1px; height: 115px; right: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
	</div>
	<div class="widget ui-draggable ui-resizable animatedBorder" id="text-3141" style='left: 464px; top: 678px; width: 536px; height: 54px; color: rgb(36, 36, 36); overflow: hidden; font-family: "Oswald"; position: absolute; z-index: 0; cursor: move;'>
		<div id="innerText-3141" style="font-size: 24px;" width="536px" height="54px">SHARE your story &amp; ENCOURAGE others'resilience capacities </div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
		<div class="animatedBorderSprite animatedBorderSprite-top" style="left: -1px; top: -1px; width: 538px; height: 1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite animatedBorderSprite-bottom" style="left: -1px; width: 538px; height: 1px; bottom: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="left: -1px; top: 0px; width: 1px; height: 54px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="top: 0px; width: 1px; height: 54px; right: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
	</div>
	<div class="widget ui-draggable ui-resizable animatedBorder" id="clipartdiv-2360" style="left: 417px; top: 737px; width: 35px; height: 29px; overflow: hidden; position: absolute; z-index: 10; cursor: move;"><a id="cliplink-2360" href="http://headup.space/" target="_blank"><img border="0"  class="Picture" id="clipart-2360" style="width: 35px; height: 29px;" src="http://www.squeezematic.com/members/Clipart//arrow-blue.png"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
		<div class="animatedBorderSprite animatedBorderSprite-top" style="left: -1px; top: -1px; width: 37px; height: 1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite animatedBorderSprite-bottom" style="left: -1px; width: 37px; height: 1px; bottom: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="left: -1px; top: 0px; width: 1px; height: 29px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="top: 0px; width: 1px; height: 29px; right: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
	</div>
	<div class="widget ui-draggable ui-resizable animatedBorder" id="clipartdiv-7633" style="left: 416px; top: 795px; width: 35px; height: 33px; overflow: hidden; position: absolute; z-index: 10; cursor: move;"><a id="cliplink-7633" href="http://headup.space/" target="_blank"><img border="0"  class="Picture" id="clipart-7633" style="width: 35px; height: 33px;" src="http://www.squeezematic.com/members/Clipart//arrow-blue.png"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
		<div class="animatedBorderSprite animatedBorderSprite-top" style="left: -1px; top: -1px; width: 37px; height: 1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite animatedBorderSprite-bottom" style="left: -1px; width: 37px; height: 1px; bottom: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="left: -1px; top: 0px; width: 1px; height: 33px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="top: 0px; width: 1px; height: 33px; right: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
	</div>
	<div class="widget ui-draggable ui-resizable animatedBorder" id="text-7354" style='left: 318px; top: 1434px; width: 350px; height: 28px; color: rgb(133, 133, 133); overflow: hidden; font-family: "Abril Fatface"; position: absolute; z-index: 0; cursor: move;'>
		<div id="innerText-7354" style="font-size: 18px;" width="350px" height="28px">
			<center>© 2016-2017 HeadUP. All rights reserved.</center>
		</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
		<div class="animatedBorderSprite animatedBorderSprite-top" style="left: -1px; top: -1px; width: 352px; height: 1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite animatedBorderSprite-bottom" style="left: -1px; width: 352px; height: 1px; bottom: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="left: -1px; top: 0px; width: 1px; height: 28px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="top: 0px; width: 1px; height: 28px; right: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
	</div>

	<div class="widget ui-draggable ui-resizable animatedBorder" id="text-7754" style='left: 464px; top: 734px; width: 533px; height: 46px; color: rgb(36, 36, 36); overflow: hidden; font-family: "Oswald"; position: absolute; z-index: 0; cursor: move;'>
		<div id="innerText-7754" style="font-size: 24px;" width="533px" height="46px">READ inspirational and fun stories </div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
		<div class="animatedBorderSprite animatedBorderSprite-top" style="left: -1px; top: -1px; width: 535px; height: 1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite animatedBorderSprite-bottom" style="left: -1px; width: 535px; height: 1px; bottom: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="left: -1px; top: 0px; width: 1px; height: 46px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="top: 0px; width: 1px; height: 46px; right: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
	</div>
	<div class="widget ui-draggable ui-resizable animatedBorder" id="text-2531" style='left: 464px; top: 790px; width: 532px; height: 48px; color: rgb(36, 36, 36); overflow: hidden; font-family: "Oswald"; position: absolute; z-index: 0; cursor: move;'>
		<div id="innerText-2531" style="font-size: 24px;" width="532px" height="48px">TRANSMIT your optimism</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
		<div class="animatedBorderSprite animatedBorderSprite-top" style="left: -1px; top: -1px; width: 534px; height: 1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite animatedBorderSprite-bottom" style="left: -1px; width: 534px; height: 1px; bottom: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="left: -1px; top: 0px; width: 1px; height: 48px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="top: 0px; width: 1px; height: 48px; right: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
	</div>
	<div class="widget" id="image-2791" style="left: 814px; top: 47px; overflow: hidden; position: absolute; z-index: 0;">
		<a id="link-2791" href="https://www.facebook.com/headupspace/" target="_blank">
			<img border="0" id="picture-2791" src="/static/images/sns/facebook.svg" width="48" height="48" style="background-color:#fff;">
		</a>
		<a id="link-5311" href="https://www.pinterest.com/headupspace/" target="_blank">
			<img border="0" id="picture-5311" src="/static/images/sns/pinterest.svg" width="48" height="48" style="background-color:#fff;">
		</a>
		<a id="link-4043" href="https://www.youtube.com/channel/UCI7kUURMQab8RzK3OoJeasQ" target="_blank">
			<img border="0" id="picture-4043" src="/static/images/sns/youtube.svg" width="48" height="48" style="background-color:#fff;">
		</a>
	</div>
	<div class="widget ui-draggable ui-resizable" id="youtube-6490" style="padding: 10px; left: 492px; top: 183px; width: 472px; height: 238px; overflow: hidden; position: absolute; z-index: 0; cursor: move;"> <iframe width="472" height="238" id="video-6490" src="https://www.youtube.com/embed/qEQ98pdf4TA?wmode=transparent&amp;rel=0&autoplay=1" frameBorder="0" allowfullscreen=""></iframe>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="buttondiv-6378" style="padding: 10px; left: 144px; top: 425px; width: 178px; height: 47px; overflow: hidden; position: absolute; z-index: 10; cursor: move;"><a id="buttonlink-6378" style="text-decoration: none;" href="http://headup.space/" target="_blank"><input id="button-6378" style='border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.4); width: 178px; height: 47px; color: rgb(255, 255, 255); font-family: "Lobster"; font-size: 21.5px; font-weight: 800; background-color: rgb(3, 3, 3);' type="button" value="Visit us"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="text-864" style='left: 413px; top: 567px; color: rgb(0, 0, 0); overflow: hidden; font-family: "Lobster"; position: absolute; z-index: 0; cursor: move;'>
		<div id="innerText-864" style="font-size: 40px;" width="585px" height="88px">4 Reasons why HeadUP is just great but also different ?</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="image-8457" style="left: -2px; top: 507px; overflow: hidden; position: absolute; cursor: move;"><a id="link-8457" href="#" onclick="return false;" style="cursor:default;" target="_top"><img border="0"  class="Picture" id="picture-8457" src="/static/images/lp/campaign/53ad6d7487b0b1403874676.png"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable animatedBorder" id="image-7217" style="left: 189px; top: 732px; width: 190px; height: 142px; overflow: hidden; position: absolute; cursor: move;"><a id="link-7217" href="#" onclick="return false;" style="cursor:default;" target="_top"><img border="0"  class="Picture" id="picture-7217" style="width: 190px; height: 142px;" src="/static/images/lp/campaign/59445d527c6b51497652562.jpg"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
		<div class="animatedBorderSprite animatedBorderSprite-top" style="left: -1px; top: -1px; width: 191px; height: 1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite animatedBorderSprite-bottom" style="left: -1px; width: 191px; height: 1px; bottom: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="left: -1px; top: 0px; width: 1px; height: 148px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="top: 0px; width: 1px; height: 148px; right: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
	</div>
	<div class="widget ui-draggable ui-resizable animatedBorder" id="clipartdiv-1906" style="left: 415px; top: 853px; width: 34px; height: 32px; overflow: hidden; position: absolute; z-index: 10; cursor: move;"><a id="cliplink-1906" href="http://headup.space/" target="_blank"><img border="0"  class="Picture" id="clipart-1906" style="width: 34px; height: 32px;" src="http://www.squeezematic.com/members/Clipart//arrow-blue.png"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
		<div class="animatedBorderSprite animatedBorderSprite-top" style="left: -1px; top: -1px; width: 36px; height: 1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite animatedBorderSprite-bottom" style="left: -1px; width: 36px; height: 1px; bottom: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="left: -1px; top: 0px; width: 1px; height: 32px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="top: 0px; width: 1px; height: 32px; right: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
	</div>
	<div class="widget ui-draggable ui-resizable animatedBorder" id="text-9639" style='left: 464px; top: 850px; width: 539px; height: 42px; color: rgb(36, 36, 36); overflow: hidden; font-family: "Oswald"; position: absolute; z-index: 0; cursor: move;'>
		<div id="innerText-9639" style="font-size: 24px;" width="539px" height="42px">It is 100% FREE and you can keep your profile ANONYMOUS</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
		<div class="animatedBorderSprite animatedBorderSprite-top" style="left: -1px; top: -1px; width: 541px; height: 1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite animatedBorderSprite-bottom" style="left: -1px; width: 541px; height: 1px; bottom: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="left: -1px; top: 0px; width: 1px; height: 42px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="top: 0px; width: 1px; height: 42px; right: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="image-8804" style="left: 0px; top: 0px; overflow: hidden; position: absolute; z-index: 20; cursor: move;"><a id="link-8804" href="#" onclick="return false;" style="cursor:default;" target="_top"><img border="0"  class="Picture" id="picture-8804" src="/static/images/lp/campaign/5944e8b309ad41497688243.png"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="image-3485" style="left: 189px; top: 590px; width: 190px; height: 142px; overflow: hidden; position: absolute; cursor: move;"><a id="link-3485" href="#" onclick="return false;" style="cursor:default;" target="_top"><img border="0"  class="Picture" id="picture-3485" style="width: 190px; height: 142px;" src="/static/images/lp/campaign/5944ebc5ec6a61497689029.jpg"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="image-5088" style="left: 0px; top: 591px; width: 189px; height: 141px; overflow: hidden; position: absolute; cursor: move;"><a id="link-5088" href="#" onclick="return false;" style="cursor:default;" target="_top"><img border="0"  class="Picture" id="picture-5088" style="width: 189px; height: 141px;" src="/static/images/lp/campaign/5944ec6e2aaab1497689198.jpg"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="image-7154" style="left: 0px; top: 732px; width: 189px; height: 142px; overflow: hidden; position: absolute; cursor: move;"><a id="link-7154" href="#" onclick="return false;" style="cursor:default;" target="_top"><img border="0"  class="Picture" id="picture-7154" style="width: 189px; height: 142px;" src="/static/images/lp/campaign/5944ed1b262af1497689371.jpg"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="text-2861" style='left: 129px; top: 191px; color: rgb(105, 180, 245); overflow: hidden; font-family: "Alfa Slab One"; position: absolute; z-index: 10; cursor: move;'>
		<div id="innerText-2861" style="font-size: 30px;" width="86px" height="41px">NEW</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="text-9873" style='left: 219px; top: 191px; overflow: hidden; font-family: "Alfa Slab One"; position: absolute; z-index: 10; cursor: move;'>
		<div id="innerText-9873" style="font-size: 30px;" width="236px" height="41px">social network to</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="text-8325" style='left: 54px; top: 361px; width: 423px; height: 53px; overflow: hidden; font-family: "Alfa Slab One"; position: absolute; z-index: 10; cursor: move;'>
		<div id="innerText-8325" style="font-size: 14px;" width="423px" height="53px">How it works ? On any topics, write about a solution you found to a difficulty you once faced, in less than 300 words. </div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="image-9458" style="left: 6px; top: 6px; width: 126px; height: 124px; overflow: hidden; position: absolute; cursor: move;"><a id="link-9458" href="#" onclick="return false;" style="cursor:default;" target="_top"><img border="0"  class="Picture" id="picture-9458" style="width: 126px; height: 124px;" src="/static/images/lp/campaign/594515156461a1497699605.png"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="image-8759" style="left: 136px; top: 12px; width: 263px; height: 118px; overflow: hidden; position: absolute; cursor: move;"><a id="link-8759" href="#" onclick="return false;" style="cursor:default;" target="_top"><img border="0"  class="Picture" id="picture-8759" style="width: 263px; height: 118px;" src="/static/images/lp/campaign/5945176b862011497700203.png"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable animatedBorder" id="text-5458" style='left: 384px; top: 1411px; width: 255px; height: 30px; color: rgb(133, 133, 133); overflow: hidden; font-family: "Abril Fatface"; position: absolute; z-index: 0; cursor: move;'>
		<div id="innerText-5458" style="font-size: 16px;" width="255px" height="30px">Contact us: head.up@gmx.com</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
		<div class="animatedBorderSprite animatedBorderSprite-top" style="left: -1px; top: -1px; width: 257px; height: 1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite animatedBorderSprite-bottom" style="left: -1px; width: 257px; height: 1px; bottom: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="left: -1px; top: 0px; width: 1px; height: 30px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="top: 0px; width: 1px; height: 30px; right: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="text-267" style='left: 813px; top: 20px; color: rgb(189, 188, 194); overflow: hidden; font-family: "Abril Fatface"; position: absolute; z-index: 0; cursor: move;'>
		<div id="innerText-267" style="font-size: 16px;" width="77px" height="22px"><i>Follow us &amp; share on:</i></div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="text-7711" style='left: 24px; top: 919px; overflow: hidden; font-family: "Lobster"; position: absolute; cursor: move;'>
		<div id="innerText-7711" style="font-size: 40px;">How it works ?</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="image-3992" style="left: 658px; top: 946px; width: 263px; height: 331px; overflow: hidden; position: absolute; z-index: 20; cursor: move;"><a id="link-3992" onclick="window.onbeforeunload=null;" href="http://headup.space/members/signup" target="_blank"><img border="0"  class="Picture" id="picture-3992" style="width: 263px; height: 331px;" src="/static/images/lp/campaign/594675ef5c88e1497789935.png"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="clipartdiv-642" style="left: 31px; top: 994px; width: 36px; height: 35px; overflow: hidden; position: absolute; z-index: 0; cursor: move;"><a id="cliplink-642" onclick="window.onbeforeunload=null;" href="http://headup.space/members/signup" target="_blank"><img border="0"  class="Picture" id="clipart-642" style="width: 36px; height: 35px;" src="http://www.squeezematic.com/members/Clipart//arrow-black.png"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="text-2292" style='left: 81px; top: 1000px; overflow: hidden; font-family: "Alfa Slab One"; position: absolute; z-index: 0; cursor: move;'>
		<div id="innerText-2292" style="font-size: 20px;" width="78px" height="27px">Step 1 -</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="text-1765" style='left: 79px; top: 1059px; overflow: hidden; font-family: "Alfa Slab One"; position: absolute; z-index: 0; cursor: move;'>
		<div id="innerText-1765" style="font-size: 20px;" width="80px" height="27px">Step 2 -</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="text-1935" style='left: 80px; top: 1121px; overflow: hidden; font-family: "Alfa Slab One"; position: absolute; z-index: 0; cursor: move;'>
		<div id="innerText-1935" style="font-size: 20px;" width="80px" height="27px">Step 3 -</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="text-6023" style='left: 80px; top: 1181px; overflow: hidden; font-family: "Alfa Slab One"; position: absolute; z-index: 0; cursor: move;'>
		<div id="innerText-6023" style="font-size: 20px;" width="81px" height="27px">Step 4 -</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="clipartdiv-2281" style="left: 29px; top: 1054px; width: 37px; height: 34px; overflow: hidden; position: absolute; z-index: 0; cursor: move;"><a id="cliplink-2281" onclick="window.onbeforeunload=null;" href="http://headup.space/members/signup" target="_blank"><img border="0"  class="Picture" id="clipart-2281" style="width: 37px; height: 34px;" src="http://www.squeezematic.com/members/Clipart//arrow-black.png"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="clipartdiv-7918" style="left: 29px; top: 1115px; width: 36px; height: 34px; overflow: hidden; position: absolute; z-index: 0; cursor: move;"><a id="cliplink-7918" onclick="window.onbeforeunload=null;" href="http://headup.space/members/signup" target="_blank"><img border="0"  class="Picture" id="clipart-7918" style="width: 36px; height: 34px;" src="http://www.squeezematic.com/members/Clipart//arrow-black.png"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="clipartdiv-7601" style="left: 27px; top: 1178px; width: 36px; height: 31px; overflow: hidden; position: absolute; z-index: 0; cursor: move;"><a id="cliplink-7601" onclick="window.onbeforeunload=null;" href="http://headup.space/members/signup" target="_blank"><img border="0"  class="Picture" id="clipart-7601" style="width: 36px; height: 31px;" src="http://www.squeezematic.com/members/Clipart//arrow-black.png"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="text-8650" style='left: 168px; top: 994px; width: 466px; height: 43px; overflow: hidden; font-family: "Oswald"; position: absolute; z-index: 10; cursor: move;'>
		<div id="innerText-8650" style="font-size: 26px;" width="466px" height="43px">You want to share a "Challenge &amp; Solution" story</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="text-202" style='left: 170px; top: 1115px; overflow: hidden; font-family: "Oswald"; position: absolute; z-index: 0; cursor: move;'>
		<div id="innerText-202" style="font-size: 26px;" width="291px" height="39px">Write your story in less than 300 words</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="text-8683" style='left: 171px; top: 1053px; overflow: hidden; font-family: "Oswald"; position: absolute; z-index: 10; cursor: move;'>
		<div id="innerText-8683" style="font-size: 26px;" width="440px" height="39px">Sign up and create a profile </div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="text-8576" style='left: 171px; top: 1173px; width: 150px; height: 39px; overflow: hidden; font-family: "Oswald"; position: absolute; z-index: 10; cursor: move;'>
		<div id="innerText-8576" style="font-size: 26px;" width="150px" height="39px">Stamp it (UP) !</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable" id="clipartdiv-8200" style="left: 641px; top: 931px; width: 295px; height: 363px; overflow: hidden; position: absolute; z-index: 10; cursor: move;"><a id="cliplink-8200" onclick="window.onbeforeunload=null;" href="#" onclick="return false;" style="cursor:default;" target="_top"><img border="0"  class="Picture" id="clipart-8200" style="width: 295px; height: 363px;" src="http://www.squeezematic.com/members/Clipart//IPAD_Black.png"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-draggable ui-resizable animatedBorder" id="text-9981" style='left: 584px; top: 443px; width: 312px; height: 35px; overflow: hidden; font-family: "Just Me Again Down Here"; position: absolute; z-index: 0; cursor: move;'>
		<div id="innerText-9981" style="font-size: 20px;" width="312px" height="35px">"No need to be a cool kid to tell your story !"
		</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
		<div class="animatedBorderSprite animatedBorderSprite-top" style="left: -1px; top: -1px; width: 314px; height: 1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite animatedBorderSprite-bottom" style="left: -1px; width: 314px; height: 1px; bottom: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="left: -1px; top: 0px; width: 1px; height: 35px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="top: 0px; width: 1px; height: 35px; right: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
	</div>
	<div class="widget ui-draggable ui-resizable animatedBorder" id="text-7541" style='left: 821px; top: 475px; overflow: hidden; font-family: "Just Me Again Down Here"; position: absolute; cursor: move;'>
		<div id="innerText-7541" style="font-size: 20px;">- HeadUP</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
		<div class="animatedBorderSprite animatedBorderSprite-top" style="left: -1px; top: -1px; width: 62px; height: 1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite animatedBorderSprite-bottom" style="left: -1px; width: 62px; height: 1px; bottom: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="left: -1px; top: 0px; width: 1px; height: 30px; display: none; background-color: rgb(78, 124, 177);"></div>
		<div class="animatedBorderSprite" style="top: 0px; width: 1px; height: 30px; right: -1px; display: none; background-color: rgb(78, 124, 177);"></div>
	</div>
	<div class="widget ui-resizable ui-draggable" id="text-3626" style='left: 704px; top: 1297px; overflow: hidden; font-family: "Alfa Slab One"; position: absolute; z-index: 0; cursor: move;'>
		<div id="innerText-3626" style="font-size: 12px;" width="252px" height="16px">TAP the form to SIGN UP</div>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
	<div class="widget ui-resizable ui-draggable" id="buttondiv-5011" style="padding: 10px; left: 238px; top: 1238px; width: 156px; height: 47px; overflow: hidden; position: absolute; z-index: 0; cursor: move;"><a id="buttonlink-5011" style="text-decoration: none;" href="http://headup.space/latest" target="_blank"><input class="button" id="button-5011" style='border-radius: 5px; border: 1px solid rgba(0, 0, 0, 0.4); width: 156px; height: 47px; color: rgb(0, 0, 0); font-family: "Lobster"; font-size: 23.5px; font-weight: 800; background-color: rgb(240, 240, 240);' type="button" value="Latest Stories"></a>
		<div class="ui-resizable-handle ui-resizable-e"></div>
		<div class="ui-resizable-handle ui-resizable-s"></div>
		<div class="ui-resizable-handle ui-resizable-se ui-icon ui-icon-gripsmall-diagonal-se" style="z-index: 1001;"></div>
	</div>
</div>
<div style='width:100%; height:20px;'></div>
{% endblock %}
